<template x-component="behavior-tests">
    <div class="grid grid-cols-12 gap-3 mt-5">
        <div class="col-span-3 border-r pr-2">
            <template x-if="model">
                <ul class="menu menu-xs rounded-lg">
                    <template x-for="test in model['test-case']" :key="test.att_name">
                        <li>
                            <a @click="selectedTest[navigation] = test.att_name"
                               :class="test.att_name == selectedTest[navigation] ? 'active' : ''">
                                <i class="fa-regular fa-file-code"></i>
                                <span x-text="test.att_name"></span>
                            </a>
                        </li>
                    </template>
                </ul>
            </template>
        </div>
        <div class="col-span-9">
            <template x-for="test in model['test-case']" :key="test.att_name">
                <div x-show="test.att_name == selectedTest[navigation]" x-cloak x-transition>

                    <div x-data="behaviorTestCaseInitialState">
                            <table class="table table-xs border mb-2">
                                <tr class="bg-base-200">
                                    <th scope="col" colspan="3">Initial state</th>
                                </tr>
                                <template x-for="(value,fkey) in state" :key="fkey">
                                    <tr class="border-b">
                                        <td x-text="fkey"></td>
                                        <template x-if="typeof value !== 'object' && !Array.isArray(value) && value !== null">
                                            <td>
                                                <input type="text"
                                                       @focusout="state[fkey] = prepare_state_variable_type(state[fkey],$el.value);"
                                                       :value="value"
                                                       placeholder="value" class="input input-ghost input-xs w-full modeler-input" />
                                            </td>
                                        </template>
                                        <template x-if="typeof value === 'object' && !Array.isArray(value) && value !== null">
                                            <td colspan="2" class="text-end">
                                                <template x-for="(entity,bkey) in value" :key="bkey">
                                                    <table class="table">
                                                        <tr class="border-b">
                                                            <th scope="col">Attribute Name</th>
                                                            <th scope="col">Value</th>
                                                            <td class="text-end">
                                                                <button @click="delete state[fkey][bkey]"
                                                                        :disabled="editing_disabled"
                                                                        class="btn btn-xs btn-outline btn-error">
                                                                    <i class="fa-regular fa-trash-can"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <template x-for="(value,key) in entity" :key="key">
                                                            <tr class="border-b">
                                                                <td x-text="key"></td>
                                                                <template x-if="value == bkey">
                                                                    <td colspan="2">
                                                                        <span x-text="value"></span>
                                                                        <span class="badge badge-neutral badge-xs">key</span>
                                                                    </td>
                                                                </template>
                                                                <template x-if="value != bkey">
                                                                    <td colspan="2">
                                                                        <input type="text"
                                                                               @focusout="state[fkey][bkey][key] = prepare_state_variable_type(state[fkey][bkey][key],$el.value);"
                                                                               :value="value"
                                                                               placeholder="value" class="input input-ghost input-xs w-full modeler-input" />
                                                                    </td>
                                                                </template>
                                                            </tr>
                                                        </template>
                                                    </table>
                                                </template>

                                                <table class="table table-xs" x-data="{addItemDialog: false}">
                                                    <tr x-show="!addItemDialog" x-cloak x-transition class="text-end">
                                                        <td colspan="3">
                                                            <button @click="addItemDialog = true"
                                                                    :disabled="editing_disabled"
                                                                    class="btn btn-xs btn-outline btn-success">
                                                                <i class="fa-regular fa-plus"></i><span x-text="fkey"></span> item
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr x-show="addItemDialog" x-cloak x-transition>
                                                        <td>New <span x-text="fkey"></span> item</td>
                                                        <td colspan="2">
                                                            <input type="text"
                                                                   @focusout="add_item(fkey,$el.value);addItemDialog=false;"
                                                                   placeholder="Functional key" class="input input-ghost input-xs w-full modeler-input" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </template>
                                        <template x-if="Array.isArray(value)">
                                            <td>
                                                <table class="table table-xs">
                                                    <template x-for="item in value" :key="item">
                                                        <tr>
                                                            <td x-text="item"></td>
                                                            <td>
                                                                <ui-delete-button
                                                                        @delete.once.stop="state[fkey] = state[fkey].filter(x => x != item);$dispatch('updated')"></ui-delete-button>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <ui-add-button modal-title="Value"
                                                                           @updated.debounce.stop="if($event.detail.value && !value.includes($event.detail.value)){value.push($event.detail.value);state[fkey] = value;$dispatch('updated')}"></ui-add-button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </template>
                                        <template x-if="$prop('business-key') != fkey && typeof value !== 'object' && !Array.isArray(value) && value !== null">
                                            <td class="text-end">
                                                <button @click="delete state[fkey]"
                                                        :disabled="editing_disabled"
                                                        class="btn btn-xs btn-outline btn-error">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </template>
                                    </tr>
                                </template>

                                <tr x-data="{addDialog: false}" x-show="candidates.length != 0" x-cloak x-transition>
                                    <td colspan="3" class="text-end" x-show="!addDialog" x-cloak x-transition>
                                        <button @click="addDialog = true"
                                                :disabled="editing_disabled"
                                                class="btn btn-xs btn-outline btn-success">
                                            <i class="fa-regular fa-plus"></i>
                                        </button>
                                    </td>
                                    <td colspan="3" x-show="addDialog" x-cloak x-transition>
                                        <table class="table table-xs">
                                            <tr>
                                                <th scope="row" colspan="2">Set initial attributes</th>
                                                <td class="text-end">
                                                    <button @click="addDialog = false" class="btn btn-xs btn-circle btn-ghost">✕</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Value</th>
                                            </tr>
                                            <template x-for="target in candidates" :key="target.name">
                                                <tr>
                                                    <td x-text="target.name"></td>
                                                    <td x-text="target.type"></td>
                                                    <td>
                                                        <input type="text"
                                                               @focusout="add_variable(target,$el.value);"
                                                               placeholder="value" class="input input-ghost input-xs w-full modeler-input" />
                                                    </td>
                                                </tr>
                                            </template>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        <pre x-text="test.state"></pre>
                    </div>

                    <pre x-text="JSON.stringify(test,null,2)"></pre>

                </div>
            </template>
        </div>
    </div>
</template>