<template x-component="command">
    <div navigation-type="command"
         id="active-tab"
         x-show="navigationElementActive"
         x-cloak
         x-transition>
            <div :file="navigation" x-data="commandModel">

                    <div class="grid grid-cols-12 gap-3 mt-5">
                        <div class="col-span-8">
                            <h3 class="text-2xl font-semibold text-gray-800">
                                API Configuration
                            </h3>
                            <table class="table">
                                <tr>
                                    <th scope="row">API path</th>
                                    <td>
                                        <input type="text"
                                               x-model="newPath"
                                               x-data="inputValidator"
                                               @input="api_path"
                                               @focusout="prepare_change_name"
                                               :disabled="editing_disabled"
                                               class="input input-sm w-full max-w-xs" />
                                        <dialog x-show="preparedRename.init" x-cloak x-transition class="modal modal-open">
                                            <template x-if="Object.keys(preparedRename).length !== 0">
                                                <div class="modal-box">
                                                    <form method="dialog">
                                                        <button @click="cancel_rename" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                                    </form>
                                                    <h3 class="font-bold text-lg">Change command identifier</h3>
                                                    <div x-show="preparedRename.force" x-cloak x-transition
                                                         role="alert" class="alert alert-warning py-2">
                                                        <svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                class="h-6 w-6 shrink-0 stroke-current"
                                                                fill="none"
                                                                viewBox="0 0 24 24">
                                                            <path
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                                        </svg>
                                                        <span>Warning: There is already a model <i x-text="preparedRename.newName"></i>. This model will be overwritten when you proceed.</span>
                                                    </div>
                                                    <p class="py-4">
                                                        Changing the API path will result in a change of identity. <br>
                                                        The changes are:
                                                    </p>
                                                    <table class="table">
                                                        <tr>
                                                            <th scope="row">API path</th>
                                                            <td x-text="newPath"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Command name</th>
                                                            <td x-text="preparedRename.eventName.replace('Requested','')"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Event name</th>
                                                            <td x-text="preparedRename.eventName"></td>
                                                        </tr>
                                                    </table>
                                                    <button class="btn btn-outline btn-primary mt-5 btn-block"
                                                            @click.debounce="rename">Rename</button>
                                                </div>
                                            </template>
                                        </dialog>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>
                                        <input type="text"
                                               :value="model.att_name.replace('Requested','')"
                                               x-data="inputValidator"
                                               disabled
                                               class="input input-sm w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Event Name</th>
                                    <td>
                                        <input type="text"
                                               :value="model.att_name"
                                               x-data="inputValidator"
                                               disabled
                                               class="input input-sm w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Authorization mode</th>
                                    <td x-import="elements/input">
                                        <ui-command-auth-mode></ui-command-auth-mode>
                                    </td>
                                </tr>
                                <tr x-show="model.att_authorization == 'role'" x-cloak x-transition>
                                    <th scope="row">Required role</th>
                                    <template x-if="model.att_authorization == 'role'">
                                        <td x-import="elements/input">
                                            <ui-role-selector></ui-role-selector>
                                        </td>
                                    </template>
                                </tr>
                                <!--                        <tr>-->
                                <!--                            <td>Test</td>-->
                                <!--                            <td>-->
                                <!--                                <input type="text"-->
                                <!--                                       x-model="model.att_name"-->
                                <!--                                       x-data="inputValidator"-->
                                <!--                                       @input="pascal_cased"-->
                                <!--                                       placeholder="Dummy"-->
                                <!--                                       class="input input-sm w-full max-w-xs" />-->
                                <!--                            </td>-->
                                <!--                        </tr>-->
                            </table>

                            <hr class="mt-10">
                            <h3 class="text-2xl font-semibold mt-5 text-gray-800">
                                Message Definition
                            </h3>
                            <h5 class="text-xl font-semibold mt-2 text-gray-800">
                                Message Root
                            </h5>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Default</th>
                                    <th scope="col">Pattern</th>
                                    <th scope="col">Autofill</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <template x-for="field in model.field">
                                        <tr>
                                            <td>
                                                <input type="text"
                                                       :disabled="editing_disabled"
                                                       x-model="field.att_name"
                                                       x-data="inputValidator"
                                                       @input="camel_cased"
                                                       placeholder="fieldName"
                                                       class="input w-full" />
                                            </td>
                                            <td>
                                                <select :disabled="editing_disabled"
                                                        x-model="field.att_type"
                                                        class="select select-ghost w-full max-w-xs modeler-input">
                                                    <option>String</option>
                                                    <option>Int</option>
                                                    <option>Float</option>
                                                    <option>Boolean</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="checkbox" :checked="'att_default' in field"
                                                       @change="if($el.checked){field.att_default = 'default value'}else{delete field.att_default}" class="checkbox checkbox-xs" />

                                                <template x-if="'att_default' in field">
                                                    <input type="text"
                                                           x-model="field.att_default"
                                                           :disabled="editing_disabled"
                                                           placeholder="fieldName"
                                                           class="input input-ghost modeler-input" />
                                                </template>
                                            </td>
                                            <td>
                                                <select :disabled="editing_disabled"
                                                        x-model="field.att_pattern"
                                                        class="select select-ghost w-full modeler-input">
                                                    <option></option>
                                                    <template x-for="pattern in patterns" :key="pattern">
                                                        <option :value="'{{'+pattern+'}}'"
                                                                :selected="$el.value == field.att_pattern"
                                                                x-text="pattern"></option>
                                                    </template>
                                                </select>
                                            </td>
                                            <td>
                                                <select :disabled="editing_disabled"
                                                        x-effect="if(field['att_auto-fill'] == ''){delete field['att_auto-fill']}"
                                                        x-model="field['att_auto-fill']"
                                                        class="select select-ghost w-full max-w-xs modeler-input">
                                                    <option></option>
                                                    <option>username</option>
                                                    <option>uuid</option>
                                                </select>
                                            </td>
                                            <td x-show="editing_enabled" x-cloak x-transition>
                                                <button @click="field.deleted = true"
                                                        :disabled="field.deleted == true"
                                                        class="btn btn-xs btn-outline btn-error">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </template>
                                    <tr>
                                        <td colspan="5"></td>
                                        <td>
                                            <button @click="add_field"
                                                    :disabled="editing_disabled"
                                                    class="btn btn-xs btn-outline btn-success">
                                                <i class="fa-regular fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <template x-for="collection in model['nested-object']">
                                <div>
                                    <hr class="mt-10">
                                    <table class="table mt-2">
                                        <thead>
                                        <tr>
                                            <td class="text-xl font-semibold text-gray-800" colspan="1">
                                                Collection
                                            </td>
                                            <td colspan="3">
                                                <input type="text"
                                                       :disabled="editing_disabled"
                                                       x-model="collection.att_name"
                                                       x-data="inputValidator"
                                                       @input="camel_cased"
                                                       placeholder="collectionName"
                                                       class="input w-full" />
                                            </td>
                                            <td>
                                            <td x-show="editing_enabled" x-cloak x-transition>
                                                <button @click="collection.deleted = true"
                                                        :disabled="collection.deleted == true"
                                                        class="btn btn-xs btn-outline btn-error">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Default</th>
                                            <th scope="col">Pattern</th>
                                            <th scope="col">Autofill</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <template x-for="field in collection.field">
                                            <tr>
                                                <td>
                                                    <input type="text"
                                                           :disabled="editing_disabled"
                                                           x-model="field.att_name"
                                                           x-data="inputValidator"
                                                           @input="camel_cased"
                                                           placeholder="fieldName"
                                                           class="input w-full" />
                                                </td>
                                                <td>
                                                    <select :disabled="editing_disabled"
                                                            x-model="field.att_type"
                                                            class="select select-ghost w-full max-w-xs modeler-input">
                                                        <option>String</option>
                                                        <option>Int</option>
                                                        <option>Float</option>
                                                        <option>Boolean</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="checkbox" :checked="'att_default' in field"
                                                           @change="if($el.checked){field.att_default = 'default value'}else{delete field.att_default}" class="checkbox checkbox-xs" />

                                                    <template x-if="'att_default' in field">
                                                        <input type="text"
                                                               x-model="field.att_default"
                                                               :disabled="editing_disabled"
                                                               placeholder="fieldName"
                                                               class="input input-ghost modeler-input" />
                                                    </template>
                                                </td>
                                                <td>
                                                    <select :disabled="editing_disabled"
                                                            x-model="field.att_pattern"
                                                            class="select select-ghost w-full modeler-input">
                                                        <option></option>
                                                        <template x-for="pattern in patterns" :key="pattern">
                                                            <option :value="'{{'+pattern+'}}'"
                                                                    :selected="$el.value == field.att_pattern"
                                                                    x-text="pattern"></option>
                                                        </template>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select :disabled="editing_disabled"
                                                            x-effect="if(field['att_auto-fill'] == ''){delete field['att_auto-fill']}"
                                                            x-model="field['att_auto-fill']"
                                                            class="select select-ghost w-full max-w-xs modeler-input">
                                                        <option></option>
                                                        <option>username</option>
                                                        <option>uuid</option>
                                                    </select>
                                                </td>
                                                <td x-show="editing_enabled" x-cloak x-transition>
                                                    <button @click="field.deleted = true"
                                                            :disabled="field.deleted == true"
                                                            class="btn btn-xs btn-outline btn-error">
                                                        <i class="fa-regular fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </template>
                                        <tr>
                                            <td colspan="5"></td>
                                            <td>
                                                <button @click="add_collection_field"
                                                        :collection="collection.att_name"
                                                        :disabled="editing_disabled"
                                                        class="btn btn-xs btn-outline btn-success">
                                                    <i class="fa-regular fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </template>
                            <button @click="add_collection"
                                    :disabled="editing_disabled"
                                    class="btn btn-xs btn-outline btn-success mt-5">
                                <i class="fa-regular fa-plus"></i> collection
                            </button>

                        </div>
                        <div class="col-span-4">

                            <!-- Info Card -->
                            <div class="card bg-primary text-primary-content mb-5 card-compact" x-data="infoCard">
                                <div class="card-body">
                                    <div class="card-actions justify-end">
                                        <i @click="Draftsman.publishMessage('focus')"
                                           class="fa-regular fa-eye cursor-pointer"></i>
                                        <i @click="open_github"
                                           :file="navigation"
                                           class="fa-solid fa-code cursor-pointer"></i>
                                    </div>
                                    <h2 class="card-title">Command Definition</h2>
                                    <p class="text-xs" :file="navigation" x-text="get_path"></p>
                                    <div class="card-actions justify-end"
                                         x-show="editing_enabled" x-cloak x-transition>
                                        <i class="fa-regular fa-trash-can cursor-pointer" @click="delete_model"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Diagram -->
                            <div x-import="elements/embedded-diagram">
                                <ui-embedded-diagram></ui-embedded-diagram>
                            </div>

                            <!-- documentation -->
                            <div :file="navigation" x-data="markdownEditor"></div>

                        </div>
                    </div>
            </div>
    </div>
</template>