<template x-component="diagram">
    <div navigation-type="diagram"
         x-show="navigationElementActive"
         x-cloak
         x-transition.delay.100ms>
        <template navigation-type="diagram" x-if="navigationElementActive">
            <div x-data="nodeDiagram" class="grid grid-cols-12 gap-3 mt-5">
                <div class="col-span-9">
                    <div id="node-diagram"></div>
                </div>
                <div class="col-span-2">

                    <table x-show="focused.length != 0" x-cloak x-transition class="table table-xs my-5">
                        <tr>
                            <th scope="col" colspan="2">Focused elements</th>
                        </tr>
                        <template x-for="f in focused" :key="f">
                            <tr>
                                <th scope="row" x-text="f"></th>
                                <td>
                                    <i @click="unfocus"
                                       :element="f"
                                       class="fa-regular fa-trash-can cursor-pointer"></i>
                                </td>
                            </tr>
                        </template>
                    </table>

                    <div class="badge badge-primary"
                         x-show="session.selected_node" x-cloak x-transition
                         x-text="session.selected_node"></div>

                    <button class="btn btn-outline btn-primary btn-xs btn-block my-2"
                            @click="focus"
                            x-show="session.selected_node in session.all_links" x-cloak x-transition>Focus</button>

                    <button class="btn btn-outline btn-primary btn-xs btn-block mb-2"
                            :navigation="session.all_links[session.selected_node]"
                            @click.debounce="navigate"
                            x-show="session.selected_node in session.all_links" x-cloak x-transition>Open</button>

                    <span class="label-text">Connection Radius <span class="badge badge-outline badge-primary" x-text="radius"></span></span>
                    <input type="range" min="1" max="5" x-model="radius" class="range range-xs" step="1" />
                    <div class="flex w-full justify-between px-2 text-xs">
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                    </div>

                    <br>

                    <label class="label cursor-pointer">
                        <span class="label-text">Aggregate behaviors</span>
                        <input type="checkbox" class="toggle toggle-primary" x-model="mode" />
                    </label>

                    <br>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.commands"></span> Commands</span>
                        <input type="checkbox"
                               :checked="selection.command"
                               class="checkbox checkbox-primary"
                               x-model="selection.command"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.behaviors"></span> Behaviors</span>
                        <input type="checkbox"
                               :checked="selection.behavior"
                               class="checkbox checkbox-primary"
                               x-model="selection.behavior"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.notifiers"></span> Notifiers</span>
                        <input type="checkbox"
                               :checked="selection.notifier"
                               class="checkbox checkbox-primary"
                               x-model="selection.notifier"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.views"></span> Views</span>
                        <input type="checkbox"
                               :checked="selection.view"
                               class="checkbox checkbox-primary"
                               x-model="selection.view"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.queries"></span> Queries</span>
                        <input type="checkbox"
                               :checked="selection.query"
                               class="checkbox checkbox-primary"
                               x-model="selection.query"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.projections"></span> Projections</span>
                        <input type="checkbox"
                               :checked="selection.projection"
                               class="checkbox checkbox-primary"
                               x-model="selection.projection"/>
                    </label>
                    <label class="label cursor-pointer">
                        <span class="label-text"><span class="badge" x-text="session.dependencies"></span> Dependencies</span>
                        <input type="checkbox"
                               :checked="selection.dependency"
                               class="checkbox checkbox-primary"
                               x-model="selection.dependency"/>
                    </label>

                </div>
            </div>
        </template>
    </div>
</template>