<template x-component="dummy">
    <div navigation-type="dummy"
         x-show="navigationElementActive"
         x-cloak
         x-transition.delay.100ms>
        <template navigation-type="dummy" x-if="navigationElementActive">
            <div :file="navigation" x-data="basicFile" class="grid grid-cols-12 gap-3 mt-5">
                <div class="col-span-8">
                    <h3 class="text-2xl font-semibold text-gray-800">
                        Generic placeholder
                    </h3>
                    <textarea
                            x-model="content"
                            placeholder="Bio"
                            rows="20"
                            class="textarea textarea-bordered textarea-lg w-full"></textarea>
                </div>
                <div class="col-span-4">
                    <div id="node-diagram"></div>
                </div>
            </div>
        </template>
    </div>
</template>