<template x-component="expressions">
    <div x-data="expressionsContainer" id="active-tab">
        <div class="grid grid-cols-12 gap-3 mt-5">
            <div class="col-span-8">

                <label class="input input-bordered flex items-center gap-2 mb-5">
                    <input type="text" x-model="search" class="grow" placeholder="Search" />
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="h-4 w-4 opacity-70">
                        <path
                                fill-rule="evenodd"
                                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                clip-rule="evenodd" />
                    </svg>
                </label>

                <template x-for="expression in expressions" :key="expression">
                    <table class="table mb-5 border border-primary-content"
                           x-show="search == '' || expression.toLowerCase().includes(search.toLowerCase())" x-cloak x-transition
                           x-data="expressionModel">
                        <tr class="bg-base-200">
                            <th scope="row">
                                <span x-show="model.att_type == 'ActorEventRole'" x-cloak x-transition>API authorization</span>
                                <span x-show="model.att_type == 'TriggerKeyField'" x-cloak x-transition>Trigger key</span>
                            </th>
                            <td>
                                <input type="text"
                                       :disabled="editing_disabled"
                                       x-model="newName"
                                       x-data="inputValidator"
                                       @keyup.debounce.500ms="check_name"
                                       @input="camel_cased"
                                       placeholder="expressionName"
                                       class="input input-sm w-[80%]" />
                                <button x-show="newName != model.att_name" x-cloak x-transition
                                        @click="rename"
                                        class="btn btn-outline btn-xs"
                                        :class="duplicateName ? 'btn-error' : 'btn-success'">
                                    save
                                </button>
                            </td>
                            <td class="text-right">
                                <i @click="open_diagram(expression)"
                                   class="fa-regular fa-eye cursor-pointer"></i>
                                <button @click="remove_expression(expression)"
                                        :disabled="editing_disabled"
                                        class="ml-5 btn btn-xs btn-outline btn-error">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td colspan="2">
                                <select :disabled="editing_disabled"
                                        x-model="model.att_type"
                                        class="select select-ghost w-full select-sm modeler-input">
                                    <option value="ActorEventRole">API authorization</option>
                                    <option value="TriggerKeyField">Trigger key</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Inputs</th>
                            <td colspan="2">
                                <input type="text"
                                       x-model="model.att_input"
                                       x-data="inputValidator(pattern)"
                                       message="Must be a list of lowercased words separetd by a <i>;</i>"
                                       @input="custom_pattern"
                                       class="input input-sm min-w-full" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Expression</th>
                            <td colspan="2">
                                <input type="text"
                                       x-model="model.att_expression"
                                       class="input input-sm min-w-full modeler-input" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div :file="expression" x-data="markdownEditor"></div>
                            </td>
                        </tr>
                    </table>
                </template>

            </div>
            <div class="col-span-4">

                <!-- Info Card -->
                <div class="card bg-primary text-primary-content mb-5 card-compact" x-data="infoCard">
                    <div class="card-body">
                        <div class="card-actions justify-end">
                            <i @click="open_github"
                               file="expressions/"
                               class="fa-solid fa-code cursor-pointer"></i>
                        </div>
                        <h2 class="card-title">Expressions</h2>
                        <p class="text-xs" :file="navigation" x-text="get_path"></p>
                    </div>
                </div>

                <!-- Diagram -->
                <template x-if="navigation != ''">
                    <div x-import="elements/embedded-diagram">
                        <ui-embedded-diagram></ui-embedded-diagram>
                    </div>
                </template>

            </div>
        </div>
    </div>
</template>