<template x-component="patterns">
    <div x-data="{patterns: [], search: ''}" x-init="patterns = await Pattern.list()">

        <input type="text" placeholder="Search..."
               x-model="search"
               class="input input-bordered input-primary w-full" />
        <br>

        <template x-for="pattern in patterns" :key="pattern.file">
            <div x-show="pattern.model.att_name.toLowerCase().includes(search.toLowerCase())" x-cloak x-transition tabindex="0" class="collapse collapse-plus border border-base-300 mt-2">
                <input type="checkbox" :checked="sessionStorage[pattern.file] == 'true'"
                       x-model="sessionStorage[pattern.file]"/>
                <div class="collapse-title font-medium">
                    <span x-text="pattern.model.att_name"></span>
                </div>
                <div class="collapse-content">
                    <table class="table">
                        <tr>
                            <th scope="row">Name</th>
                            <td>
                                <ui-editable-text-field
                                        :value="pattern.model.att_name"
                                        :pattern="pascal_cased"
                                        :message="pascal_cased_message"
                                        @updated.debounce.1000ms="await Pattern.rename(pattern.model,pattern.file,$event.detail.value)"></ui-editable-text-field>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Regular expression</th>
                            <td>
                                <ui-editable-text-field
                                        :value="pattern.model.att_regex"
                                        @updated.debounce.1000ms="pattern.model.att_regex = $event.detail.value"></ui-editable-text-field>
                            </td>
                        </tr>
                    </table>
                    <ui-markdown :content="pattern.docs.content"
                                 @updated.stop="pattern.docs.content = $event.detail.content;Modeler.force_sync_to_cache(pattern.file.replace('.xml','.md').replace('.py','.md'),pattern.docs)"></ui-markdown>

                    <ui-delete-button @delete.once="patterns = patterns.filter(x => x.file != pattern.file);Modeler.delete(pattern.file,false)"></ui-delete-button>
                </div>
            </div>
        </template>

    </div>
</template>