<template x-component="projection">
    <div navigation-type="projection"
         id="active-tab"
         x-show="navigationElementActive"
         x-cloak
         x-transition>
        <div x-data="projectionModel">
            <div class="grid grid-cols-12 gap-3 mt-5">
                    <div class="col-span-8">

                        <h3 class="text-2xl font-semibold text-gray-800 mb-5">
                            Projection: <span x-text="model.att_name"></span>
                        </h3>

                        <div role="tablist" class="tabs tabs-lifted max-w-full">
                            <input type="radio"
                                   name="projection_tabs"
                                   role="tab"
                                   class="tab whitespace-nowrap"
                                   :checked="selectedTab[navigation] === 1"
                                   @click="selectedTab[navigation] = 1"
                                   aria-label="API Configuration" />
                            <div role="tabpanel"
                                 class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                                <table class="table mb-5 border border-primary-content">
                                    <tr class="bg-primary-content">
                                        <th scope="row">API path</th>
                                        <td colspan="3">
                                            <span x-text="model['att_graphql-namespace']"></span>.<span x-text="model['att_field-name']"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Method name</th>
                                        <td colspan="2">
                                            <input type="text"
                                                   :disabled="editing_disabled"
                                                   x-model="model['att_field-name']"
                                                   x-data="inputValidator"
                                                   @input="camel_cased"
                                                   placeholder="methodName"
                                                   class="input w-full" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Authorization mode</th>
                                        <td x-import="elements/input" colspan="2">
                                            <ui-command-auth-mode></ui-command-auth-mode>
                                        </td>
                                    </tr>
                                    <tr x-show="model.att_authorization == 'role'" x-cloak x-transition>
                                        <th scope="row">Required role</th>
                                        <td x-import="elements/input" colspan="2">
                                            <ui-role-selector></ui-role-selector>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Return model</th>
                                        <td colspan="2">
                                            <select :disabled="editing_disabled"
                                                    x-model="model.att_return"
                                                    class="select select-sm select-ghost modeler-input min-w-full">
                                                <option></option>
                                                <template x-for="option in views" :key="option">
                                                    <option :value="option" :selected="option == model.att_return" x-text="option"></option>
                                                </template>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Return type</th>
                                        <td colspan="2">
                                            <select :disabled="editing_disabled"
                                                    x-model="model['att_return-type']"
                                                    class="select select-sm select-ghost modeler-input min-w-full">
                                                <option>single object</option>
                                                <option>result set</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="bg-primary-content">
                                        <th scope="row" class="text-xs" colspan="4">Parameters</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Required</th>
                                    </tr>
                                    <template x-for="input in model.input" :key="input.att_id">
                                        <tr :id="input.att_id">
                                            <td>
                                                <input type="text"
                                                       :disabled="editing_disabled"
                                                       x-model="input.att_name"
                                                       x-data="inputValidator"
                                                       @input="camel_cased"
                                                       placeholder="methodName"
                                                       class="input w-full" />
                                            </td>
                                            <td>
                                                <select :disabled="editing_disabled"
                                                        x-model="input.att_type"
                                                        class="select select-ghost w-full max-w-xs modeler-input">
                                                    <option>String</option>
                                                    <option>Int</option>
                                                    <option>Float</option>
                                                    <option>Boolean</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="checkbox"
                                                       @change="input.att_required = $el.checked ? 'true': 'false'"
                                                       :checked="'true' == input.att_required"
                                                       class="checkbox checkbox-primary" />
                                            </td>
                                            <td class="text-right">
                                                <button @click="model.input = model.input.filter(x => x.att_id != input.att_id);document.getElementById(input.att_id).remove()"
                                                        class="btn btn-xs btn-outline btn-error">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </template>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="text-right">
                                            <button @click="add_parameter"
                                                    class="btn btn-xs btn-outline btn-success">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                            <input type="radio"
                                   name="projection_tabs"
                                   role="tab"
                                   class="tab whitespace-nowrap"
                                   :checked="selectedTab[navigation] === 2"
                                   @click="selectedTab[navigation] = 2"
                                   aria-label="Transformation Logic" />
                            <div role="tabpanel"
                                 class="tab-content bg-base-100 border-base-300 rounded-box p-6">
                                <div class="flex justify-end">
                                    <!-- Button -->
                                    <button
                                            class="btn btn-outline btn-warning btn-sm"
                                            :class="rendering ? 'btn-disabled' : ''"
                                            @click="generate_code">
                                        <i class="fa-solid fa-compass-drafting"></i> Suggest code
                                    </button>
                                </div>
                                <template x-if="initialized">
                                    <iframe id="projection-code"
                                            style="width: 100%;height:75vh;"
                                            x-init="render_editor">
                                    </iframe>
                                </template>
                            </div>

                        </div>

                    </div>
                    <div class="col-span-4">

                        <!-- Info Card -->
                        <div class="card bg-primary text-primary-content mb-5 card-compact" x-data="infoCard">
                            <div class="card-body">
                                <div class="card-actions justify-end">
                                    <i @click="Draftsman.publishMessage('focus')"
                                       class="fa-regular fa-eye cursor-pointer"></i>
                                    <i @click="open_github"
                                       :file="navigation"
                                       class="fa-solid fa-code cursor-pointer"></i>
                                </div>
                                <h2 class="card-title">View</h2>
                                <p class="text-xs" :file="navigation" x-text="get_path"></p>

                                <table class="table table-xs">
                                    <tr>
                                        <th  scope="row">Name</th>
                                        <td>
                                            <input type="text"
                                                   :disabled="editing_disabled"
                                                   x-model="newName"
                                                   x-data="inputValidator"
                                                   @input="pascal_cased"
                                                   @keyup.debounce.500ms="check_name"
                                                   placeholder="ViewName"
                                                   class="input w-[70%] input-xs mr-2" />
                                            <button x-show="newName != model.att_name" x-cloak x-transition
                                                    @click="rename"
                                                    class="btn btn-outline btn-xs"
                                                    :class="duplicateName ? 'btn-error' : 'btn-success'">
                                                save
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th  scope="row">Path</th>
                                        <td>
                                            <input type="text"
                                                   :disabled="editing_disabled"
                                                   x-model="newPath"
                                                   x-data="inputValidator"
                                                   @input="view_path"
                                                   @keyup.debounce.500ms="check_name"
                                                   placeholder="Sub/Folder"
                                                   class="input w-[70%] input-xs mr-2" />
                                            <button x-show="!navigation.startsWith('projections/' + newPath)" x-cloak x-transition
                                                    @click="rename"
                                                    class="btn btn-outline btn-xs"
                                                    :class="duplicateName ? 'btn-error' : 'btn-success'">
                                                save
                                            </button>
                                        </td>
                                    </tr>
                                    <template x-for="input in model.input">
                                        <tr>
                                            <th scope="row">Parameter</th>
                                            <td>
                                                <span x-text="input.att_name"></span>&nbsp;
                                                (<span x-text="input.att_type"></span>)&nbsp;
                                                <div x-show="input.att_required != 'true'"
                                                     class="badge badge-outline badge-sm badge-info gap-2">optional</div>
                                                <div x-show="input.att_required == 'true'"
                                                     class="badge badge-outline badge-sm badge-error gap-2">required</div>
                                            </td>
                                        </tr>
                                    </template>
                                    <tr>
                                        <th scope="row">Return model</th>
                                        <td>
                                            <span x-text="model.att_return"></span>&nbsp;
                                            (<span x-text="model['att_return-type']"></span>)
                                        </td>
                                    </tr>
                                </table>
                                <div class="card-actions justify-end"
                                     x-show="editing_enabled" x-cloak x-transition>
                                    <i class="fa-regular fa-trash-can cursor-pointer" @click="delete_model"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Diagram -->
                        <div x-import="elements/embedded-diagram">
                            <ui-embedded-diagram></ui-embedded-diagram>
                        </div>

                        <!-- documentation -->
                        <div :file="navigation" x-data="markdownEditor"></div>

                    </div>
                </div>
        </div>
    </div>
</template>