<template x-component="queries">
    <template x-for="query in model.query" :key="query['att_field-name']">
        <div tabindex="0" class="collapse collapse-plus border border-accent mt-2">
            <input type="checkbox" :checked="sessionStorage[file + query['att_field-name']] == 'true'"
                   x-model="sessionStorage[file + query['att_field-name']]"/>
            <div class="collapse-title font-medium">
                <span x-text="query['att_field-name']"></span>
            </div>
            <div class="collapse-content">
                <div x-init="query['att_graphql-namespace'] = file.replace('views/','').split('/').filter(x => !x.includes('.xml')).join('.')"></div>
                <table class="table">
                    <template x-if="query.att_type != 'get'">
                        <tr x-show="query.att_type != 'get'" x-transition x-cloak>
                            <th scope="row">Use canonical search</th>
                            <td>
                                <select class="editable"
                                        x-model="query['att_use-canonical-search']">
                                    <option>true</option>
                                    <option>false</option>
                                </select>
                            </td>
                        </tr>
                    </template>
                    <tr>
                        <th>Authorization mode</th>
                        <td>
                            <select class="editable" x-model="query.att_authorization">
                                <option value="anonymous">Anonymous</option>
                                <option value="authenticated">Authenticated</option>
                                <option value="role">Role</option>
                            </select>
                        </td>
                    </tr>
                    <template x-if="query.att_authorization == 'role'">
                        <tr x-init="if(!query.att_role){query.att_role = ''}" x-show="query.att_authorization == 'role'" x-transition x-cloak>
                            <th>Required role</th>
                            <td x-show="!query.att_role.startsWith('#')" x-transition x-cloak>
                                <select class="editable"
                                        x-data="{roles: []}"
                                        x-init="roles = await Modeler.get_roles()"
                                        @change="if(query.att_role.startsWith('#') && !query.att_role.includes(',')){
                                                let key = query.att_type != 'get' && query['att_use-canonical-search'] == 'true' ? 'key_begins_with' : 'key';
                                                query.att_role = query.att_role.replace(/\(.+\)/,'(' + key +')')
                                            }"
                                        x-model="query.att_role">
                                    <template x-for="role in roles" :key="role">
                                        <option :value="role" x-text="role" :selected="role == query.att_role"></option>
                                    </template>
                                </select>
                            </td>
                            <td x-show="query.att_role.startsWith('#')" x-transition x-cloak>
                                <p x-text="query.att_role" @focusout="query.att_role = $el.innerText" contenteditable></p>
                            </td>
                        </tr>
                    </template>
                </table>
                <template x-if="query['filter-clause'].length != 0">
                    <table class="table">
                        <tr>
                            <th>Field name</th>
                            <th>Operand</th>
                        </tr>
                        <template x-for="filter in query['filter-clause']" :key="filter.att_id">
                            <tr>
                                <td>
                                    <select class="editable" x-model="filter['att_field-name']">
                                        <option></option>
                                        <template x-for="field in model.field.filter(x => view_field_types.includes(x.att_type)).map(x => x.att_name)" :key="field">
                                            <option x-text="field" :value="field" :selected="field == filter['att_field-name']"></option>
                                        </template>
                                    </select>
                                </td>
                                <td x-text="filter.att_operand"></td>
                                <td>
                                    <ui-delete-button @delete.once="query['filter-clause'] = query['filter-clause'].filter(x => x.att_id != filter.att_id)"></ui-delete-button>
                                </td>
                            </tr>
                        </template>
                    </table>
                </template>
                <button class="btn btn-ghost"
                        x-show="query.att_type != 'get'" x-cloak x-transition
                        @click="query['filter-clause'].push({
                        'att_operand' : 'equals',
                        'att_field-name': '',
                        'att_id' : makeid(6)
                    })"><i class="fa-solid fa-plus"></i>&nbsp;
                    Add filter clause</button>
                <ui-delete-button
                        @delete.once="model.query = model.query.filter(x => x['att_field-name'] != query['att_field-name']);$dispatch('redraw')"></ui-delete-button>
            </div>
        </div>
    </template>
</template>