<template x-component="aggregate-events">
    <div x-import="utils/editor-elements">

        <ui-prompt id="new-domain-event"
                   title="Add new domain event to project"
                   @prompt-filled.debounce="Aggregates.create_new_event($event.detail.value)"></ui-prompt>

        <div class="row bordered-element"
             x-show="tab_state.aggregate.events.length != 0" x-cloak x-transition
             @delete.debounce="Aggregates.delete_event()">
            <h4>
                DomainEvent:
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <span x-text="tab_state.selected_event"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown"
                        x-data="{events: []}" x-effect="let updated = tab_state.aggregate.events;await sleep(1);if(events!=updated){events=updated}">
                        <template x-for="event_def in events" :key="event_def.att_name">
                            <li><a @click="Aggregates.select_event(event_def);" class="dropdown-item" href="#events" x-text="event_def.att_name"></a></li>
                        </template>
                        <li x-show="!session.editing_disabled" x-cloak x-transition ><hr class="dropdown-divider"></li>
                        <li x-show="!session.editing_disabled" x-cloak x-transition ><a @click="$dispatch('show-modal',{id: 'new-domain-event'})"
                               class="dropdown-item" href="#events">Create new domain event</a></li>
                    </ul>
                </div>
            </h4>
            <ui-documentation-icon subject="aggregate" key="data_model"></ui-documentation-icon>
            <ui-trash-icon></ui-trash-icon>

            <ui-document-model
                    :id="session.tab + '-event-document'"
                    entity-casing="camel"
                    default-value-enabled
                    @new-collection.debounce="Aggregates.add_collection_to_event()"
                    @remove-collection.debounce="Aggregates.remove_collection_from_event($event.detail.name)"></ui-document-model>

        </div>

        <div class="row bordered-element"
             x-show="tab_state.aggregate.events.length != 0" x-cloak x-transition>
            <h4>Data mapping</h4>

            <ui-mapping-model
                    storage-id="event-handler-mapping"
                    :event="tab_state.event"
                    :handler="tab_state.handler"
                    :model="tab_state.aggregate"></ui-mapping-model>
        </div>


        <div class="d-grid gap-2">
            <button
               @click="$dispatch('show-modal',{id: 'new-domain-event'})"
               href="#"
               x-show="!session.editing_disabled && tab_state.aggregate.events.length == 0" x-cloak x-transition
               class="btn btn-outline-primary m-2">Create domain event</button>
        </div>

    </div>
</template>