<template x-component="data-model">
  <div class="row bordered-element" x-import="utils/editor-elements">
    <h4>
      Document Schema
    </h4>
    <ui-documentation-icon subject="aggregate" key="data_model"></ui-documentation-icon>

    <div>

        <ui-document-model
                :id="session.tab + '-aggregate-document'"
                entity-casing="camel"
                business-key-enabled
                enable-string-list-type
                @new-collection.debounce="Aggregates.add_element_collection()"
                @rename-collection.debounce="Aggregates.rename_collection($event.detail.oldName,$event.detail.newName)"
                @remove-collection.debounce="Aggregates.remove_element_collection($event.detail.name)"></ui-document-model>

    </div>

    <div x-import="utils/prompt">
      <ui-prompt id="new-aggregate-collection"
                 title="Create new collection"
                 @prompt-filled.debounce="let name = $event.detail.value;await Aggregate.create_entity(tab.data.subdomain,aggregate,name);"></ui-prompt>
    </div>

  </div>
</template>