<template x-component="aggregate-settings">
  <template x-if="tab_state.aggregate" key="aggregate-settings">
    <div class="bordered-element" x-import="utils/editor-elements">
      <h4>Aggregate settings</h4>
      <table class="table">
        <tr>
          <th>Event retention</th>
          <td>
            <ui-range :value="tab_state.aggregate.root['att_event-ttl']"
                      @updated.debounce="tab_state.aggregate.root['att_event-ttl'] = $event.detail.value"
                      min="-1" :max="60*60*24*365*10"></ui-range>
            <small x-show="tab_state.aggregate.root['att_event-ttl'] != -1" x-cloak x-transition>
              Configured in seconds, currently configured for approximate:
              <span x-text="moment().add(tab_state.aggregate.root['att_event-ttl'], 'seconds').fromNow().replace('in','')"></span>
            </small>
            <small x-show="tab_state.aggregate.root['att_event-ttl'] == -1" x-cloak x-transition>
              Configured in seconds, -1 means events will be stored indefinitely.
            </small>
          </td>
        </tr>
        <tr>
          <th>Snapshot interval</th>
          <td>
            <ui-range :value="tab_state.aggregate.root['att_snapshot-interval']"
                      @updated.debounce="tab_state.aggregate.root['att_snapshot-interval'] = $event.detail.value"
                      min="1" max="250"></ui-range>
            <small>After every <span x-text="tab_state.aggregate.root['att_snapshot-interval']"></span> events a snapshot will be stored.</small>
          </td>
        </tr>
        <tr>
          <th>Cold storage interval</th>
          <td>
            <ui-range :value="tab_state.aggregate.root['att_backup-interval-days']"
                      @updated.debounce="tab_state.aggregate.root['att_backup-interval-days'] = $event.detail.value"
                      min="0" max="366"></ui-range>
            <small x-show="tab_state.aggregate.root['att_backup-interval-days'] > 1" x-cloak x-transition>Every <span x-text="tab_state.aggregate.root['att_backup-interval-days']"></span> days a snapshot will be exported to cold storage.</small>
            <small x-show="tab_state.aggregate.root['att_backup-interval-days'] == 0" x-cloak x-transition>This aggregate is not exported to cold storage.</small>
            <small x-show="tab_state.aggregate.root['att_backup-interval-days'] == 1" x-cloak x-transition>Every day this aggregate is exported to cold storage.</small>
          </td>
        </tr>
        <tr>
          <th>Cold storage retention</th>
          <td>
            <ui-range :value="tab_state.aggregate.root['att_backup-ttl-days']"
                      @updated.debounce="tab_state.aggregate.root['att_backup-ttl-days'] = $event.detail.value"
                      min="0" max="36500"></ui-range>
            <small x-show="tab_state.aggregate.root['att_backup-ttl-days'] == 0" x-cloak x-transition>The exports have no expiration.</small>
            <small x-show="tab_state.aggregate.root['att_backup-ttl-days'] != 0" x-cloak x-transition>
              The exports are stored for:
              <span x-text="tab_state.aggregate.root['att_backup-ttl-days']"></span> days
              <span x-show="tab_state.aggregate.root['att_backup-ttl-days'] > 30" x-cloak x-transition>(
              <span x-text="moment().add(tab_state.aggregate.root['att_backup-ttl-days'], 'days').fromNow().replace('in','')"></span>)
              </span>
            </small>
          </td>
        </tr>
      </table>
    </div>
  </template>
</template>