<template x-component="aggregate-behavior-overview">
    <template x-if="tab_state.aggregate" key="aggregate-behavior-overview">
        <div x-import="utils/editor-elements" x-data="{search: ''}">

            <template x-if="tab_state.aggregate.flows.length != 0">
                <div class="input-group mb-3">
                    <span class="input-group-text" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="form-control"
                           placeholder="search..." x-model="search"/>
                </div>
            </template>

            <div class="list-group"
                 x-effect="let updated = tab_state.aggregate.flows;await sleep(1);if(updated != flows){flows=updated}"
                 x-data="{flows:[]}">
                <template x-for="command in flows" :key="command.att_name">
                    <div class="list-group-item list-group-item-action"
                         x-cloak
                         x-data="{summary: ''}"
                         x-effect="summary = Modeler.summary('domain/' + tab_state.aggregate.subdomain + '/' + tab_state.aggregate.root.att_name + '/behavior-flows/' + command.att_name + '.md')"
                         x-transition
                         x-show="search == '' || `${summary} ${command.att_name}`.toLowerCase().includes(search.toLowerCase())"
                         :file="'domain/' + tab_state.aggregate.subdomain + '/' + tab_state.aggregate.root.att_name + '/behavior-flows/' + command.att_name + '.xml'"
                         @click="Navigation.open_tab"
                         aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" x-text="command.att_name">List group item heading</h5>
                            <small>
                            <span class="badge rounded-pill bg-secondary">
                                <span x-text="command.trigger.length"></span> trigger<span x-show="command.trigger.length > 1">s</span>
                            </span>
                                <span class="badge rounded-pill bg-secondary">
                                <span x-text="command.processor.length"></span> processor<span x-show="command.processor.length > 1">s</span>
                            </span>
                                <span class="badge rounded-pill bg-secondary">
                                <span x-text="command['test-case'].length"></span> test case<span x-show="command['test-case'].length > 1">s</span>
                            </span>
                            </small>
                        </div>
                        <p class="mb-1" x-text="summary">
                        </p>
                        <small x-show="command['att_create-command'] == 'true'">
                            <span class="badge rounded-pill bg-primary">create flow</span>
                        </small>
                    </div>
                </template>
            </div>

            <div class="d-grid gap-2">
                <a type="button"
                   @click="Behavior.create_new(tab_state.aggregate)"
                   href="#"
                   class="btn btn-outline-primary m-2">Create behavior flow</a>
            </div>

        </div>
    </template>
</template>