<template x-component="flow">
    <template x-if="tab_state.flow" key="flow-container">
        <div x-import="utils/editor-elements">

            <div class="list-group"
                 x-data="{processors: []}"
                 x-effect="let updated = tab_state.flow.processor;await sleep(1);if(processors!=updated){processors=updated}">
                <template x-for="(processor,index) in processors" :key="processor.att_id">

                    <div href="#" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between bg-tracepaper-tertiary">
                            <h5 class="mb-1">
                                <span x-text="index + 1"></span>:&nbsp;
                                <span x-text="label['behavior.' + processor.att_type]"></span>
                            </h5>
                            <small class="text-muted">
                                <button
                                        @click="arraymove(processors, index, index - 1);$dispatch('command-updated');"
                                        x-show="!session.editing_disabled && index != 0"
                                        class="indigo-text btn btn-link"><i class="fa-solid fa-arrow-up"></i></button>
                                <button
                                        @click="arraymove(processors, index, index + 1);$dispatch('command-updated');"
                                        x-show="!session.editing_disabled && index != (processors.length -1)"
                                        class="indigo-text btn btn-link"><i class="fa-solid fa-arrow-down"></i></button>
                                &nbsp;&nbsp;
                                <button
                                        x-show="!session.editing_disabled"
                                        @click="processors.splice(index, 1);"
                                        class="red-text btn btn-link"><i class="fa-solid fa-trash"></i></button>
                            </small>
                        </div>
                        <p class="mb-1">

                            <!-- Emit Event -->
                        <div x-import="ide/frames/processors/emit-event">
                            <template x-if="processor.att_type == 'emit-event'">
                                <ui-emit-event></ui-emit-event>
                            </template>
                        </div>

                        <!-- Code -->
                        <div x-import="ide/frames/processors/code">
                            <template x-if="processor.att_type == 'code'">
                                <ui-code-processor></ui-code-processor>
                            </template>
                        </div>

                        <!-- Validator -->
                        <div x-import="ide/frames/processors/validator">
                            <template x-if="processor.att_type == 'validator'">
                                <ui-validator></ui-validator>
                            </template>
                        </div>

                        <!-- Set variable -->
                        <div x-import="ide/frames/processors/set-variable">
                            <template x-if="processor.att_type == 'set-variable'">
                                <ui-set-variable></ui-set-variable>
                            </template>
                        </div>

                        </p>

                    </div>
                </template>
            </div>

            <div class="d-grid gap-2" x-data="{show_modal: false, reference: makeid(8)}">
                <a type="button"
                   @click="show_modal=true"
                   :href="'#' + reference"
                   class="btn btn-outline-primary m-2">Append processor</a>

                <template x-if="show_modal">
                    <div>
                        <div class="overlay"></div>
                        <div class="prompt" :id="reference">
                            <h4> Insert processor
                                <button type="button" @click="show_modal=false" class="btn-close float-end"></button>
                            </h4>

                            <div class="list-group list-group-flush" @click="await sleep(10);show_modal=false;$dispatch('command-updated');">
                                <template x-for="type in behavior_processor_types" :key="type">
                                    <button type="button"
                                            @click="Behavior.add_processor(type);"
                                            x-text="label['behavior.' + type]"
                                            class="list-group-item list-group-item-action">
                                    </button>
                                </template>
                            </div>

                        </div>
                    </div>
                </template>

            </div>
        </div>
    </template>
</template>