<template x-component="notifier-flow">
  <div>

    <div x-import="ide/frames/activities/create-iam-group">
      <template x-if="activity.att_type == 'create-iam-group'">
        <ui-create-iam-group></ui-create-iam-group>
      </template>
    </div>

    <div x-import="ide/frames/activities/assign-iam-group">
      <template x-if="activity.att_type == 'add-user-to-iam-group'">
        <ui-assign-iam-group></ui-assign-iam-group>
      </template>
    </div>

    <div x-import="ide/frames/activities/set-variable">
      <template x-if="activity.att_type == 'set-variable'">
        <ui-activity-set-variable></ui-activity-set-variable>
      </template>
    </div>

    <div x-import="ide/frames/activities/call-internal-api">
      <template x-if="activity.att_type == 'call-internal-api'">
        <ui-activity-call-internal-api></ui-activity-call-internal-api>
      </template>
    </div>

    <div x-import="ide/frames/activities/code">
      <template x-if="activity.att_type == 'code'">
        <ui-activity-code></ui-activity-code>
      </template>
    </div>

    <div x-import="ide/frames/activities/http">
      <template x-if="activity.att_type == 'HTTP'">
        <ui-activity-http></ui-activity-http>
      </template>
    </div>

  </div>
</template>