<template x-component="notifier-flow">
  <div>

    <div x-import="ide/frames/activities/create-iam-group">
      <template x-if="activity.att_type == 'create-iam-group'">
        <ui-create-iam-group></ui-create-iam-group>
      </template>
    </div>

    <div x-import="ide/frames/activities/assign-iam-group">
      <template x-if="['add-user-to-iam-group','remove-user-from-iam-group'].includes(activity.att_type)">
        <ui-assign-iam-group></ui-assign-iam-group>
      </template>
    </div>

    <div x-import="ide/frames/activities/set-variable">
      <template x-if="activity.att_type == 'set-variable'">
        <ui-activity-set-variable></ui-activity-set-variable>
      </template>
    </div>

    <div x-import="ide/frames/activities/call-internal-api">
      <template x-if="activity.att_type == 'call-internal-api'">
        <ui-activity-call-internal-api></ui-activity-call-internal-api>
      </template>
    </div>

    <div x-import="ide/frames/activities/code">
      <template x-if="activity.att_type == 'code'">
        <ui-activity-code></ui-activity-code>
      </template>
    </div>

    <div x-import="ide/frames/activities/http">
      <template x-if="activity.att_type == 'HTTP'">
        <ui-activity-http></ui-activity-http>
      </template>
    </div>

    <div x-import="ide/frames/activities/retrieve-email">
      <template x-if="activity.att_type == 'retrieve-email-from-iam'">
        <ui-activity-retrieve-email-from-iam></ui-activity-retrieve-email-from-iam>
      </template>
    </div>

    <div x-import="utils/editor-elements">
      <ui-text-field
              :value="activity.att_condition"
              @updated.debounce="activity.att_condition = $event.detail.value;$dispatch('flow-updated')"
              description="Condition: "></ui-text-field>
    </div>
  </div>
</template>