<template x-component="view-model">
  <div>
    <div class="bordered-element row">
      <h4>Attributes</h4>
      <ui-documentation-icon subject="view" key="attributes"></ui-documentation-icon>
      <ui-view-model-attributes></ui-view-model-attributes>
    </div>
    <div class="bordered-element row">
      <h4>Relations</h4>
      <ui-documentation-icon subject="view" key="relations"></ui-documentation-icon>
      <ui-view-model-relations></ui-view-model-relations>
    </div>
  </div>
</template>