<template x-component="view-datasources">
  <div>
    <div x-data="{search: '',snapshot_handlers:[],custom_handlers:[]}"
         x-effect="
          let updated = tab_state.view['snapshot-handler'];
          await sleep(1);
          if(snapshot_handlers!=updated){snapshot_handlers=updated};
          updated = tab_state.view['custom-handler'];
          await sleep(1);
          if(custom_handlers!=updated){custom_handlers=updated}">
      <div class="input-group mb-3">
        <span class="input-group-text" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="form-control"
               placeholder="search..." x-model="search"/>
      </div>

      <template x-for="handler in snapshot_handlers" :key="handler.att_id">
        <div class="row bordered-element"
             x-show="search == '' || handler['att_sub-domain'].toLowerCase().includes(search.toLowerCase()) || handler['att_aggregate'].toLowerCase().includes(search.toLowerCase())" x-cloak x-transition
             x-import="utils/mapping-model" x-data="{aggregate: {}}">
          <div x-effect="aggregate = Aggregates.get(`domain/${handler['att_sub-domain']}/${handler.att_aggregate}/root.xml`);"></div>
          <h4>Datasource: <span x-text="handler['att_sub-domain']"></span>.<span x-text="handler.att_aggregate"></span></h4>

          <ui-documentation-icon subject="view" key="data_source"></ui-documentation-icon>
          <ui-trash-icon @delete.debounce="Views.remove_data_source(handler);"></ui-trash-icon>

          <table class="table">
            <tbody>
            <tr>
              <th>Business key</th>
              <td x-data="{options: []}"
                  x-effect="let updated = aggregate.root.field.filter(x => x.att_type == 'String').map(x => x.att_name);await sleep(1);if(options!=updated){options=updated}">

                <ui-selection :value="handler['att_key-mapping']"
                              :options="options"
                              @updated.debounce="handler['att_key-mapping'] = $event.detail.value;"></ui-selection>
              </td>
            </tr>
            <tr>
              <th>Processing Strategy</th>
              <td>
                <ui-selection :value="handler.att_processor == 'dictionary' ? 'collection' : 'item'"
                              :options="['item','collection']"
                              @updated.debounce="handler.att_processor = $event.detail.value == 'collection' ? 'dictionary' : 'item';"></ui-selection>
              </td>
            </tr>
            <tr x-show="handler.att_processor == 'dictionary'" x-cloak x-transition>
              <th>Aggregate Collection</th>
              <td>
                <ui-selection :value="handler.att_dictionary"
                              :options="aggregate.entities.map(x => x.att_name).concat([''])"
                              @updated.debounce="handler.att_dictionary = $event.detail.value;"></ui-selection>
              </td>
            </tr>
            <tr>
              <th>Delete Condition</th>
              <td x-data="{delete_condition: ''}"
                  x-effect="delete_condition = handler.delete.length != 0 ? handler.delete.at(0).att_condition : ''">

                <ui-text-field :value="delete_condition" @updated.debounce="delete_condition = $event.detail.value;Views.update_delete_condition(handler,delete_condition);"></ui-text-field>
              </td>
            </tr>
            </tbody>
          </table>
          <br>
          <table class="table">
            <thead>
            <tr>
              <th>View field</th>
              <th>Mapping</th>
              <th>Aggregate Field</th>
              <template x-if="tab_state.view.field.filter(x => x.att_type == 'ObjectList').length !== 0">
                <th>Nested Mapping</th>
              </template>
            </tr>
            </thead>
            <tbody>
            <template x-for="field in tab_state.view.field.filter(x => view_field_types.includes(x.att_type) || x.att_type == 'ObjectList')" :key="field.att_name">
              <tr x-data="{mapping: {}}" x-effect="
                      console.trace(session.last_updated);
                      let mappers = handler.mapping.filter(x => x.att_target == field.att_name);
                      mapping = mappers.length != 0 ? mappers.at(0) : {};">
                <td x-text="field.att_name"></td>
                <td>
                  <template x-if="Object.keys(mapping).length !== 0 && field.att_type != 'ObjectList'">
                    <ui-selection :value="mapping.att_operand"
                                  :options="mapper_operands"
                                  @updated.debounce="Views.change_mapping(handler,mapping,$event.detail.value);"></ui-selection>

                  </template>
                  <template x-if="Object.keys(mapping).length === 0 && field.att_type != 'ObjectList'">
                    <ui-selection value="unmapped"
                                  :options="mapper_operands"
                                  @updated.debounce="Views.add_mapping(handler,field,$event.detail.value,aggregate);"></ui-selection>

                  </template>
                  <template x-if="Object.keys(mapping).length === 0 && field.att_type == 'ObjectList'">
                    <ui-selection value="unmapped"
                                  :options="['unmapped','convert_items']"
                                  @updated.debounce="Views.add_convert_item_mapping(handler,field,$event.detail.value,aggregate);"></ui-selection>

                  </template>
                  <template x-if="Object.keys(mapping).length !== 0 && field.att_type == 'ObjectList'">
                    <ui-selection :value="mapping.att_operand"
                                  :options="['unmapped','convert_items']"
                                  @updated.debounce="Views.change_mapping(handler,mapping,$event.detail.value);"></ui-selection>

                  </template>
                </td>
                <td x-data="{source: []}" x-effect="if(handler.att_processor == 'dictionary'){
                  source = aggregate.entities.filter(x => x.att_name == handler.att_dictionary).at(0).field.map(x => x.att_name);
                }else{
                  source = aggregate.root.field.map(x => x.att_name);
                }">
                  <template x-if="Object.keys(mapping).length !== 0 && field.att_type != 'ObjectList'">
                    <ui-selection :value="mapping.att_value"
                                  :options="source"
                                  @updated.debounce="mapping.att_value = $event.detail.value;"></ui-selection>

                  </template>
                  <template x-if="Object.keys(mapping).length !== 0 && field.att_type == 'ObjectList'">
                    <ui-selection :value="mapping.att_value"
                                  :options="aggregate.entities.map(x => x.att_name)"
                                  @updated.debounce="Views.update_convert_item_mapping(handler,field,$event.detail.value,aggregate);"></ui-selection>

                  </template>
                </td>
                <template x-if="Object.keys(mapping).length !== 0 && field.att_type == 'ObjectList'">
                  <td x-data="{template: {},entity_fields: []}" x-effect="
                          template = {};
                          entity_fields = aggregate.entities.filter(x => x.att_name == mapping.att_value).at(0).field.map(x => x.att_name);
                          mapping.att_template.replace('{','').replace('}','').split(',').forEach(x => {
                            template[x.split(':').at(0).replaceAll('&quot;','')] = x.split(':').at(1).split('&quot;').at(1);
                          })">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>View Field</th>
                        <th>Source Field</th>
                      </tr>
                      </thead>
                      <tbody>
                      <template x-for="[target, source] in Object.entries(template)" :key="target">
                        <tr>
                          <td x-text="target"></td>
                          <td>
                            <ui-selection :value="source"
                                          :options="[''].concat(entity_fields)"
                                          @updated.debounce="Views.update_template(mapping,template,target,$event.detail.value);"></ui-selection>

                          </td>
                        </tr>
                      </template>
                      </tbody>
                    </table>
                  </td>
                </template>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
      </template>
      <template x-for="handler in custom_handlers" :key="handler.att_id">
        <div class="row bordered-element" x-data="{type: 'Inline code',aggregate: {}}"
             x-show="search == '' || handler['att_sub-domain'].toLowerCase().includes(search.toLowerCase()) || handler['att_aggregate'].toLowerCase().includes(search.toLowerCase())" x-cloak x-transition
             x-effect="
              type = 'att_python-file' in handler ? 'Global Module' : 'Inline code';
              aggregate = Aggregates.get(`domain/${handler['att_sub-domain']}/${handler.att_aggregate}/root.xml`);">
          <h4>Datasource: <span x-text="handler['att_sub-domain']"></span>.<span x-text="handler.att_aggregate"></span></h4>

          <ui-documentation-icon subject="view" key="custom_data_source"></ui-documentation-icon>
          <ui-trash-icon @delete.debounce="Views.remove_data_source(handler);"></ui-trash-icon>

          <table class="table">
            <tbody>
            <tr>
              <th>Type</th>
              <td>
                <ui-selection :value="type"
                              :options="['Global Module','Inline code']"
                              @updated.debounce="type = $event.detail.value;Views.change_handler_type(handler,type,aggregate);"></ui-selection>

              </td>
            </tr>
            <tr x-show="type == 'Global Module'" x-cloak x-transition>
              <th>Module</th>
              <td>
                <ui-selection :value="handler['att_python-file'].replace('lib/','').replace('.py','')"
                              :options="Code.list_modules()"
                              @updated.debounce="handler['att_python-file'] = 'lib/' + $event.detail.value + '.py';let methods = Code.get_methods(handler['att_python-file'],'(entity_manager,snapshot,event):');handler.att_method = methods.at(0);"></ui-selection>
              </td>
            </tr>
            <tr x-show="type == 'Global Module'" x-cloak x-transition>
              <th>Method</th>
              <td>
                <ui-selection :value="handler.att_method"
                              :options="Code.get_methods(handler['att_python-file'],'(entity_manager,snapshot,event):')"
                              @updated.debounce="handler.att_method = $event.detail.value;"></ui-selection>
              </td>
            </tr>

            </tbody>
          </table>

          <template x-if="type == 'Inline code'">
            <div x-data="{editor: {},id: makeid(10)}">
              <div :id="id" style="width: 100%;height:20vh;"
                   @code-updated.debounce.3000ms="handler['#text'] = editor.getValue();"
                   x-effect="editor.setReadOnly(session.editing_disabled);"
                   x-init="
                  editor = ace.edit(id);
                  editor.setTheme('ace/theme/github');
                  editor.session.setMode('ace/mode/python');
                  editor.setValue(handler['#text'],1);
                  editor.session.on('change',function(){
                    $dispatch('code-updated');
                  });"></div>
            </div>
          </template>

        </div>
      </template>
    </div>

    <div class="d-grid gap-2"
         x-data="{show_modal: false, search: '',selected_aggregate: ''}">
      <button type="button"
              @click="show_modal=true;selected_aggregate='';"
              x-show="!session.editing_disabled" x-cloak x-transition
              class="btn btn-outline-primary m-2">Add data source</button>

      <template x-if="show_modal">
        <div>
          <div class="overlay"></div>
          <div class="prompt">
            <h4> Add data source to view
              <button type="button" @click="show_modal=false" class="btn-close float-end"></button>
            </h4>

            <div x-show="selected_aggregate == ''" x-cloak x-transition>
              <div class="input-group mb-3">
            <span class="input-group-text" >
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
                <input type="text" class="form-control"
                       placeholder="search..." x-model="search"/>
              </div>

              <div class="list-group list-group-flush">
                <template x-for="aggregate in Aggregates.list()" :key="aggregate.subdomain + '.' + aggregate.root.att_name">
                  <button type="button"
                          @click.debounce="selected_aggregate = aggregate"
                          x-text="aggregate.subdomain + '.' + aggregate.root.att_name"
                          x-cloak x-transition x-show="search == '' || `${aggregate.subdomain}.${aggregate.root.att_name}`.toLowerCase().includes(search.toLowerCase())"
                          class="list-group-item list-group-item-action"></button>
                </template>
              </div>
            </div>

            <div x-show="selected_aggregate != ''" x-cloak x-transition>
              <div class="list-group list-group-flush">
                <button type="button"
                        @click="show_modal=false;Views.add_data_source(selected_aggregate);selected_aggregate = '';"
                        class="list-group-item list-group-item-action">Use data mapper</button>
                <button type="button"
                        @click="show_modal=false;Views.add_code_source(selected_aggregate);selected_aggregate = '';"
                        class="list-group-item list-group-item-action">Use custom code</button>
              </div>
            </div>

          </div>
        </div>
      </template>

    </div>

  </div>
</template>