<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="update-view-fields">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Update($drn: String = "", $fields: [UpdateViewFields_Field!] = []) {
       View{
         Fields{
           update(input: {drn: $drn,fields: $fields}) {
              correlationId
           }
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:view:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "fields",
    "title": "Fields",
    "type": "nested",
    "fields": [
      {
        "name": "name",
        "title": "Name",
        "type": "String",
        "pattern": "[a-z]+([A-Z]{1}[a-z]+)*",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "type",
        "title": "Type",
        "type": "String",
        "pattern": "^(String|Int|Float|Boolean|StringList|FloatList|IntList)$",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "isPrimaryKey",
        "title": "Isprimarykey",
        "type": "Boolean",
        "pattern": "",
        "placeholder": "",
        "default": ""
      }
    ]
  }
]
    </div>
  </div>
</template>