<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="global-refactor-project">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation UpdateProject($drn: String = "", $projectDrn: String = "") {
       Global{
         updateProject(input: {drn: $drn,projectDrn: $projectDrn}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:global:(actorexpression|triggerexpression|dmn|code|template|dependency|pattern):([A-Z]{1}[a-z]+)+(\\.[a-z]{2,5})?$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "projectDrn",
    "title": "Projectdrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>