<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="update-global-name">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation UpdateName($name: String = "", $drn: String = "") {
       Global{
         updateName(input: {name: $name,drn: $drn}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:global:(actorexpression|triggerexpression|dmn|code|template|dependency|pattern):([A-Z]{1}[a-z]+)+(\\.[a-z]{2,5})?$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>