<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="user-get-public-profile">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetpublicprofilePublicProfile($key: ID = "") {
       User {
         getPublicProfile(key: $key) {
           key
           username
           fullName
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>