<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="create-project">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Create($documentation: String = "", $workspaceDrn: String = "", $name: String = "") {
       Project{
         create(input: {documentation: $documentation,workspaceDrn: $workspaceDrn,name: $name}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "documentation",
    "title": "Documentation",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "workspaceDrn",
    "title": "Workspacedrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>