<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="initialize-project">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Initialize($workspaceDrn: String = "", $name: String = "", $modelRepo: String = "", $codeRepo: String = "", $guiRepo: String = "") {
       Project{
         initialize(input: {workspaceDrn: $workspaceDrn,name: $name,modelRepo: $modelRepo,codeRepo: $codeRepo,guiRepo: $guiRepo}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "workspaceDrn",
    "title": "Workspacedrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "modelRepo",
    "title": "Modelrepo",
    "type": "String",
    "pattern": "^(https:\\/\\/github.com)+(\\/{1}[\\w]+){2}$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "codeRepo",
    "title": "Coderepo",
    "type": "String",
    "pattern": "^(https:\\/\\/github.com)+(\\/{1}[\\w]+){2}$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "guiRepo",
    "title": "Guirepo",
    "type": "String",
    "pattern": "^(https:\\/\\/github.com)+(\\/{1}[\\w]+){2}$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>