<!-- This file is managed by Tracepaper -->
<template x-component="CreateUser">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateUser" x-include="/prepared-statements/commands/CreateUser.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateUser"
              x-include="/form-definitions/CreateUser.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateUser"></ui-basic-form>

        <draftsman-trace command="CreateUser"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateUser', data: {} });">
        </draftsman-trace>
    </div>
</template>