<!-- This file is managed by Tracepaper -->
<template x-component="RegisterProjectPipeline">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="RegisterProjectPipeline" x-include="/prepared-statements/commands/RegisterProjectPipeline.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="RegisterProjectPipeline"
              x-include="/form-definitions/RegisterProjectPipeline.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="RegisterProjectPipeline"></ui-basic-form>

        <draftsman-trace command="RegisterProjectPipeline"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'RegisterProjectPipeline', data: {} });">
        </draftsman-trace>
    </div>
</template>