<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="project-configuration-filter">
    <div>
        <draftsman-query :alias="$prop('alias')">
     query FilterProjectConfiguration($drn_equals: String = "") {
       Project {
         Configuration {
           filter(drn_equals: $drn_equals) {
              resultset { 
               key
               slug
               gitWorkspace
               gitRepository
               status
               drn
             }
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn_equals",
    "type": "String",
    "title": "Drn Equals"
  }
]
        </div>
    </div>
</template>