<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="update-source-reference">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation UpdateReference($drn: String = "", $aggregateDrn: String = "", $newAggregateDrn: String = "") {
       View{
         Source{
           updateReference(input: {drn: $drn,aggregateDrn: $aggregateDrn,newAggregateDrn: $newAggregateDrn}) {
              correlationId
           }
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:view:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "aggregateDrn",
    "title": "Aggregatedrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:domain:([A-Z]{1}[a-z]+)+:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "newAggregateDrn",
    "title": "Newaggregatedrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:domain:([A-Z]{1}[a-z]+)+:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>