<template x-component="onboarding">
    <div x-import="commands/User/create;utils/trace-graph">
        <ui-create-user command="createuser"></ui-create-user>
        <draftsman-trace command="createuser"
                         component="SetupWorkspace-Notifier"
                         status="success"
                         @trace="Draftsman.sign_out">
        </draftsman-trace>
        <template x-if="session.initialized && Object.keys(context).length == 0">
            <div>
            <div class="overlay"></div>
            <div class="prompt-small" x-data="{value:'',submitted:false}">

                <h4 x-show="!submitted" x-cloak x-transition>Almost ready, what is your full name?
                </h4>
                <input type="text"
                       class="form-control"
                       x-show="!submitted" x-cloak x-transition
                       @keyup.enter="$store.mutation.send('createuser',{fullName: value});submitted=true" x-model="value" />
                <small x-show="!submitted" x-cloak x-transition>After this step you need to sign in again and you can start setting up your first project</small>

                <div x-show="submitted" x-cloak x-transition id="onboarding-trace"></div>
                <ui-trace-graph target="#onboarding-trace"></ui-trace-graph>
                <small x-show="submitted" x-cloak x-transition>One moment...</small>
        </div>
        </template>
    </div>
</template>