<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="domain-filter">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query FilterDomain($key_begins_with: String = "") {
       Domain {
         filter(key_begins_with: $key_begins_with) {
            resultset { 
             key
             drn
             name
             summary
             documentation
             projectDrn
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key_begins_with",
    "type": "String",
    "title": "Key Begins With"
  }
]
        </div>
    </div>
</template>