<!-- This file is managed by Tracepaper -->
<template x-component="DeregisterProjectPipeline">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeregisterProjectPipeline" x-include="/prepared-statements/commands/DeregisterProjectPipeline.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeregisterProjectPipeline"
              x-include="/form-definitions/DeregisterProjectPipeline.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeregisterProjectPipeline"></ui-basic-form>

        <draftsman-trace command="DeregisterProjectPipeline"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeregisterProjectPipeline', data: {} });">
        </draftsman-trace>
    </div>
</template>