<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="create-query">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation CreateQuery($drn: String = "", $graphqlNamespace: String = "", $name: String = "", $authorization: String = "", $role: String = "", $usernameField: String = "", $canonicalSearch: Boolean = false, $filters: [CreateQuery_Filter!] = []) {
       View{
         Query{
           createQuery(input: {drn: $drn,graphqlNamespace: $graphqlNamespace,name: $name,authorization: $authorization,role: $role,usernameField: $usernameField,canonicalSearch: $canonicalSearch,filters: $filters}) {
              correlationId
           }
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:view:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "graphqlNamespace",
    "title": "Graphqlnamespace",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+(\\.([A-Z]{1}[a-z]+)+)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "^[a-z]+([A-Z]{1}[a-z]+)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "authorization",
    "title": "Authorization",
    "type": "String",
    "pattern": "^(authenticated|role|user|anonymous)$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "role",
    "title": "Role",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "usernameField",
    "title": "Usernamefield",
    "type": "String",
    "pattern": "[a-z]+([A-Z]{1}[a-z]+)*",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "canonicalSearch",
    "title": "Canonicalsearch",
    "type": "Boolean",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "filters",
    "title": "Filters",
    "type": "nested",
    "fields": [
      {
        "name": "fieldName",
        "title": "Fieldname",
        "type": "String",
        "pattern": "[a-z]+([A-Z]{1}[a-z]+)*",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "operand",
        "title": "Operand",
        "type": "String",
        "pattern": "^(equals|not_equals|less_than|greater_than|less_than_equals|greater_than_equals)$",
        "placeholder": "",
        "default": ""
      }
    ]
  }
]
    </div>
  </div>
</template>