<!-- This file is managed by Tracepaper -->
<template x-component="Pipeline-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="Pipelinefilter" x-include="/prepared-statements/views/Pipeline/filter.txt" authenticated>
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="Pipelinefilter"
              x-include="/form-definitions/Pipeline/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="Pipelinefilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="Pipelinefilter" path="filter.resultset"></ui-collection-table>

    </div>
</template>