<template x-component="delete">
    <div x-import="commands/Project/cleanDelete;utils/basic-modal" x-data="{control:'', submitted: false}">
        <!-- Import a command -->
        <ui-clean-delete-project command="delete"></ui-clean-delete-project>

        <!-- Initialize a modal -->
        <ui-basic-modal
                :title="'Delete ' + project.name"
                alias="delete"></ui-basic-modal>

        <ui-trace-graph
                target="#modal_body_delete"></ui-trace-graph>

        <template x-target="#modal_body_delete">
            <form>
                <p>Are u sure you want to delete this project?<br><strong>This is an irreversible action, type 'permanently delete' to acknowledge.</strong></p>
                <input type="text"
                       class="form-control"
                       x-model="control"
                       placeholder="permanently delete"/>
                <br>
                <button class="w-100 btn btn-lg btn-outline-danger" :disabled="control.toLowerCase() != 'permanently delete' || submitted"
                        @click="submitted=true;
                                $store.mutation.send('delete',{drn: project.drn});
                                $store.mutation.last_command = command;
                                $dispatch('submitted',command)" type="button">Permanently Delete
                </button>
            </form>
        </template>

        <script>
        setTimeout(function(){
            $("#modal_delete").on("hidden.bs.modal", function () {
                if (sessionStorage.getItem('39100bd3-8a3a-49ad-b7a7-9e24c5f02087') === 'deleted'){
                    location = "/workspace?drn=" + get_drn(2);
                }
            });
        },1000);
        </script>
        <!-- Reset form and close modal on specific trace -->
        <draftsman-trace command="delete"
                         component="Project.DeleteProject"
                         status="success"
                         @trace="Draftsman.clear_cache();sessionStorage.setItem('39100bd3-8a3a-49ad-b7a7-9e24c5f02087','deleted')">
        </draftsman-trace>
    </div>
</template>