<template x-component="rename">
    <div x-import="commands/Project/rename;utils/form-modal">
        <!-- Import a command -->
        <ui-rename-project command="rename"></ui-rename-project>

        <!-- Bind a form modal to the command -->
        <ui-form-modal
                alias="rename"
                title="Rename project"
                :pre-fill="{drn: get_drn(),name: project.name}"
                hide="['drn']"></ui-form-modal>

        <!-- Reset form and close modal on specific trace -->
        <draftsman-trace command="rename"
                         component="RefactorProject-Notifier"
                         status="success"
                         @trace="
                        Draftsman.clear_cache();
                        location = '/project?drn=' + get_drn(2) + ':' + $store.mutation.last_command.name">
        </draftsman-trace>

    </div>
</template>