<template x-component="update-documentation">
    <div x-import="commands/Project/updateDocumentation;utils/form-modal">
        <!-- Import a command -->
        <ui-update-project-docs command="updateDocumentation"></ui-update-project-docs>

        <!-- Bind a form modal to the command -->
        <ui-form-modal
                alias="updateDocumentation"
                title="Update documentation"
                :pre-fill="{drn: get_drn(),documentation: project.documentation}"
                hide="['drn']"></ui-form-modal>

        <!-- Reset form and close modal on specific trace -->
        <draftsman-trace command="updateDocumentation"
                         component="Project.UpdateDocumentation"
                         status="success"
                         @trace="
                        Draftsman.empty_track_and_trace_log();
                        $dispatch('setdata',{command: 'updateDocumentation',data:{} });
                        $('#modal_updateDocumentation').modal('hide');">
        </draftsman-trace>

    </div>
</template>