<template x-component="aggregate">
  <template x-if="tab_state.aggregate" key="aggregate-container">
    <div x-import="utils/editor-elements">

      <h2 x-text="tab_state.aggregate.root.att_name"></h2>
      <ui-documentation-icon subject="aggregate" key="overview"></ui-documentation-icon>
      <hr>

      <div x-import="
        ide/frames/aggregate-data-model;
        ide/frames/aggregate-events;
        ide/frames/aggregate-behavior;
        ide/frames/aggregate-settings;">

        <div x-show="tab_state.view == 'document'" x-transition x-cloak>
          <ui-data-model></ui-data-model>
        </div>

        <div x-show="tab_state.view == 'behavior'" x-transition x-cloak>
          <ui-aggregate-behavior-overview></ui-aggregate-behavior-overview>
        </div>

        <div x-show="tab_state.view == 'events'" x-transition x-cloak>
          <ui-aggregate-events></ui-aggregate-events>
        </div>

        <div x-show="tab_state.view == 'settings'" x-transition x-cloak>
          <ui-aggregate-settings></ui-aggregate-settings>
        </div>

        <div x-effect="Aggregates.load_document_model(tab_state.view, tab_state.selected_event)"></div>
      </div>
      <br>
      <br>
    </div>
  </template>
</template>