<template x-component="api">
  <div>
      <h4>Commands</h4>
      <table class="table">
          <thead>
          <tr>
              <th>API path</th>
              <th>Authorization Method</th>
              <th>Role</th>
          </tr>
          </thead>
          <tbody x-data="{commands: []}" x-effect="let updated = tab_state.commands;await sleep(1);if(commands != updated){commands = updated}">
          <template x-for="command in commands">
              <tr>
                  <td x-text="command['att_graphql-namespace'] + '.' + command['att_graphql-name']"></td>
                  <td x-text="command.att_authorization"></td>
                  <td x-text="command.att_role"></td>
                  <td>
                      <button type="button"
                              class="btn btn-link"
                              :file="'commands/' + command.att_name + '.xml'"
                              @click="Navigation.open_tab">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </button>
                  </td>
              </tr>
          </template>
          </tbody>
      </table>
      <hr>
      <h4>Queries</h4>
      <table class="table">
          <thead>
          <tr>
              <th>API path</th>
              <th>Authorization Method</th>
              <th>Role</th>
          </tr>
          </thead>
          <tbody x-data="{queries: []}" x-effect="let updated = tab_state.queries;await sleep(1);if(queries != updated){queries = updated}">
          <template x-for="query in queries">
              <tr>
                  <td x-text="query['att_graphql-namespace'] + '.' + query['att_field-name']"></td>
                  <td x-text="query.att_authorization"></td>
                  <td x-text="query.att_role"></td>
                  <td>
                      <button type="button"
                              class="btn btn-link"
                              :file="'views/' + query.view + '.xml'"
                              @click="Navigation.open_tab">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </button>
                  </td>
              </tr>
          </template>
          </tbody>
      </table>
  </div>
</template>
