<template x-component="deployments">
  <div x-data="{deployments: []}" x-effect="let updated = context.selected_project.deployments;await sleep(1);if(deployments!=updated){deployments=updated}">

    <template x-for="deployment in deployments" :key="deployment.drn">
      <div class="bordered-element">
        <h4 x-text="deployment.eventBus"></h4>
        <ui-documentation-icon subject="deployment" key="main"></ui-documentation-icon>
        <div class="row">
          <div class="col-12">
            <table aria-description="data" class="table">
              <tr>
                <th>API Endpoint</th>
                <td x-text="deployment.apiEndpoint"></td>
              </tr>
              <tr>
                <th>API Key</th>
                <td x-text="deployment.apiKey"></td>
              </tr>
              <tr>
                <th>GraphQL Console</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.stackId.split(':')[3]
                              + '.console.aws.amazon.com/appsync/home?region=' + deployment.stackId.split(':')[3]
                              + '#/' + deployment.apiId + '/v1/queries'">open</a>
                </td>
              </tr>
              <tr>
                <th>Property Vault</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.propertyVault.split(':')[3] + '.console.aws.amazon.com/secretsmanager/secret?region=' + deployment.propertyVault.split(':')[3] + '&name=' + deployment.eventBus">open</a>
                </td>
              </tr>

              <tr>
                <th>EventBridge</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.stackId.split(':')[3]
                              + '.console.aws.amazon.com/events/home?region='
                              + deployment.stackId.split(':')[3] + '#/eventbus/' + deployment.eventBus">open</a>
                </td>
              </tr>
              <tr>
                <th>User Pool</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.stackId.split(':')[3]
                              + '.console.aws.amazon.com/cognito/users/?region='
                              + deployment.stackId.split(':')[3] + '#/pool/'
                              + deployment.userPoolId + '/details'">open</a>
                </td>
              </tr>
              <tr>
                <th>Lambda Functions</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.stackId.split(':')[3]
                        + '.console.aws.amazon.com/lambda/home?region=' + deployment.stackId.split(':')[3]
                        + '#/functions?fo=and&k0=application&k1=stage&n0=false&n1=false&o0=%3D&o1=%3D&op=and&v0='
                        + deployment.eventBus.split('-')[0]
                        + '&v1='
                        +  deployment.eventBus.split('-')[1]">open</a>
                </td>
              </tr>
              <tr>
                <th>Logging</th>
                <td>
                  <a target="_blank"
                     :href="'https://'+deployment.stackId.split(':')[3]+'.console.aws.amazon.com/cloudwatch/home?region='+deployment.stackId.split(':')[3]+'#logsV2:log-groups$3FlogGroupNameFilter$3D'+deployment.eventBus">open</a>
                </td>
              </tr>
              <tr>
                <th>Tables</th>
                <td>
                  <a target="_blank" :href="'https://' + deployment.stackId.split(':')[3]
                              + '.console.aws.amazon.com/dynamodbv2/home?region=' + deployment.stackId.split(':')[3] + '#tables'">open</a>
                </td>
              </tr>
              <tr>
                <th>Cloudformation</th>
                <td>
                  <a target="_blank"
                     :href="'https://' + deployment.stackId.split(':')[3] + '.console.aws.amazon.com/cloudformation/home?region=' + deployment.stackId.split(':')[3] + '#/stacks/stackinfo?stackId=' + deployment.stackId">open</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </template>


    <br>
    <br>
  </div>
</template>