<template x-component="expressions">
    <div x-data="{expressions: [], search: ''}" x-import="utils/editor-elements">
        <div x-effect="let updated = tab_state.expressions;await sleep(1);if(expressions!=updated){expressions=updated}"></div>

            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" class="form-control"
                           placeholder="search..." x-model="search"/>
                </div>

                <div class="list-group">
                    <template x-for="expression in expressions" :key="expression.att_name">
                        <div class="list-group-item list-group-item-action"
                             x-data="{doc: 'expressions/' + expression.att_name + '.md'}"
                             x-show="expression.att_name.toLowerCase().includes(search.toLowerCase())
                            || documentation[doc].content.toLowerCase().includes(search.toLowerCase())">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" x-text="expression.att_name"></h5>
                                <small class="text-muted" x-show="!session.editing_disabled" x-cloak x-transition>
                                    <ui-documentation-icon-inline subject="expressions" :key="expression.att_type"></ui-documentation-icon-inline>
                                    <i class="fa-solid fa-trash" @click.debounce="Expressions.remove(expression.att_name)"></i>
                                </small>
                            </div>
                            <p class="mb-1">

                            <h6 class="mb-1" x-data="{
                                options: {
                                    'API authorization expression' : 'ActorEventRole',
                                    'Trigger key expression' : 'TriggerKeyField'
                                }
                            }">
                            <ui-text-field :value="expression.att_name"
                                           message="Must be camelCased"
                                           description="Reference:"
                                           :pattern="camel_cased"
                                           @updated.debounce="Expressions.rename(expression.att_name,$event.detail.value)"></ui-text-field>

                            <ui-selection :value="expression.att_type == 'ActorEventRole' ? 'API authorization expression' : 'View updater key expression'"
                                          :options="Object.keys(options)"
                                          description="Type:"
                                          @updated.debounce="expression.att_type = options[$event.detail.value];"></ui-selection>
                        </h6>
                            <hr>

                            <ui-text-field  :value="expression.att_input"
                                            description="Inputs:"
                                            @updated.debounce="expression.att_input = $event.detail.value;"></ui-text-field>
                            <ui-text-field  :value="expression.att_expression"
                                            description="Expression:"
                                            @updated.debounce="expression.att_expression = $event.detail.value;"></ui-text-field>

                            <hr>
                            <h6 class="mb-1">
                                Description
                            </h6>
                            <ui-text-area :value="documentation[doc].content"
                                          @updated.debounce="documentation[doc].content = $event.detail.value;"></ui-text-area>
                            </p>
                        </div>
                    </template>
                </div>


                <br>
                <button type="button" class="btn btn-outline-success"
                        x-show="!session.editing_disabled" x-cloak x-transition
                        @click="$dispatch('show-modal',{id: 'new-expression'});">
                    <i class="fa-solid fa-plus"></i> Create new expression
                </button>

                <div x-import="utils/prompt">
                    <ui-prompt id="new-expression"
                               title="Create new expression"
                               @prompt-filled.debounce="Expressions.create($event.detail.value);await sleep(100);search=$event.detail.value"></ui-prompt>
                </div>

                <br>

            </div>

    </div>
</template>