<template x-component="projection">
    <template x-if="tab_state.projection" key="projection-container">
        <div x-import="utils/editor-elements;">

            <h2 x-text="tab_state.projection.att_name"></h2>
            <ui-documentation-icon subject="projection" key="overview"></ui-documentation-icon>
            <hr>


            <div class="bordered-element">
                <h4>Configuration</h4>
                <div x-effect="
                let new_name = capitalizeFirstLetter(tab_state.projection['att_field-name'])
                    + tab_state.projection['att_graphql-namespace'].replaceAll('.','');
                Projections.rename(new_name);"></div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <tbody x-data="{name: ''}">
                            <tr>
                                <th>API Namespace</th>
                                <td>
                                    <ui-text-field
                                            :value="tab_state.projection['att_graphql-namespace']"
                                            :pattern="graphql_namespace"
                                            @updated="tab_state.projection['att_graphql-namespace'] = $event.detail.value;"
                                            validation-message="Must be PascalCased words optionaly separated by dots. e.g. Namespace, NameSpace, NameSpace.SubSpace are all valid."></ui-text-field>
                                </td>
                            </tr>
                            <tr>
                                <th>API Method Name</th>
                                <td>
                                    <ui-text-field
                                            :value="tab_state.projection['att_field-name']"
                                            :pattern="camel_cased"
                                            @updated="tab_state.projection['att_field-name'] = $event.detail.value;"
                                            validation-message="Must be camelCased"></ui-text-field>
                                </td>
                            </tr>
                            <tr>
                                <th>Authorization Method</th>
                                <td>
                                    <ui-selection :value="tab_state.projection.att_authorization"
                                                  :options="auth_types.filter(x => x != 'user')"
                                                  @updated="tab_state.projection.att_authorization = $event.detail.value;"></ui-selection>
                                </td>
                            </tr>
                            <tr x-show="tab_state.projection.att_authorization == 'role'">
                                <th>Required Role</th>
                                <td>
                                    <ui-role-selector
                                            :value="tab_state.projection.att_role"
                                            @updated="tab_state.projection.att_role = $event.detail.value;"></ui-role-selector>
                                </td>
                            </tr>
                            <tr>
                                <th>Return Object</th>
                                <td>
                                    <ui-selection :value="tab_state.projection.att_return"
                                                  :options="[''].concat(session.view_names)"
                                                  @updated="tab_state.projection.att_return = $event.detail.value;"></ui-selection>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="bordered-element">
                <h4>Arguments</h4>
                <table class="table"
                       x-data="{inputs: []}"
                       x-effect="let updated = tab_state.projection.input;await sleep(1);if(inputs!=updated){inputs=updated}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="input in inputs" :key="input.att_name">
                        <tr>
                            <td>
                                <ui-text-field :value="input.att_name"
                                               validation-message="Must be lowercased or camelCased"
                                               @updated.debounce="input.att_name = $event.detail.value"
                                               :pattern="camel_cased"></ui-text-field>
                            </td>
                            <td>
                                <ui-selection :value="input.att_type"
                                              @updated.debounce="input.att_type = $event.detail.value"
                                              :options="field_types"></ui-selection>
                            </td>
                            <td>
                                <ui-selection :value="input.att_required"
                                              @updated.debounce="input.att_required = $event.detail.value"
                                              :options="boolean_text"></ui-selection>
                            </td>
                            <td x-show="!session.editing_disabled">
                                <button type="button" class="btn btn-outline-danger"
                                        @click="tab_state.projection.input = tab_state.projection.input.filter(x => x.att_name != input.att_name);">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <button type="button" class="btn btn-outline-success"
                        x-show="!session.editing_disabled" x-cloak x-transition
                        @click="blockingDecorator(function(){tab_state.projection.input.push({att_name: 'field-' + makeid(4), att_type: 'String',att_required: 'true'})});">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="bordered-element">
                <h4>Data aggregation & transformation</h4>
                <div x-data="{editor: {},id: makeid(10)}">
                    <div :id="id" style="width: 100%;height:80vh;"
                         @code-updated.debounce.3000ms="tab_state.projection.att_code = editor.getValue().replaceAll('\n','|LB|');"
                         x-effect="editor.setReadOnly(session.editing_disabled);"
                         x-init="
                  editor = ace.edit(id);
                  editor.setTheme('ace/theme/github');
                  editor.session.setMode('ace/mode/python');
                  editor.setValue(tab_state.projection.att_code.replaceAll('|LB|','\n'),1);
                  editor.session.on('change',function(){
                    $dispatch('code-updated');
                  });"></div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </template>
</template>