<template x-component="view">
    <template x-if="tab_state.view" key="view-container">
        <div x-import="utils/editor-elements;utils/view-model">

            <h2 x-text="tab_state.view.att_name"></h2>
            <ui-documentation-icon subject="view" key="overview"></ui-documentation-icon>
            <hr>

            <template x-if="tab_state.mode == 'model'" key="model">
                <div x-show="tab_state.mode == 'model'" x-cloak x-transition x-import="ide/frames/view-model">
                    <ui-view-model></ui-view-model>
                </div>
            </template>

            <template x-if="tab_state.mode == 'source'" key="sources">
                <div x-show="tab_state.mode == 'source'" x-cloak x-transition x-import="ide/frames/view-datasources">
                    <ui-view-datasources></ui-view-datasources>
                </div>
            </template>

            <template x-if="tab_state.mode == 'relation'" key="relation">
                <div x-show="tab_state.mode == 'relation'" x-cloak x-transition x-import="ide/frames/view-relations">
                    <ui-view-relations></ui-view-relations>
                </div>
            </template>

            <template x-if="tab_state.mode == 'api'" key="api">
                <div x-show="tab_state.mode == 'api'" x-cloak x-transition x-import="ide/frames/view-queries">
                    <ui-view-queries></ui-view-queries>
                </div>
            </template>

            <template x-if="tab_state.mode == 'settings'" key="settings">
                <div x-show="tab_state.mode == 'settings'" x-cloak x-transition x-import="ide/frames/view-settings">
                    <ui-view-settings></ui-view-settings>
                </div>
            </template>

            <br>
            <br>
        </div>
    </template>
</template>