<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="aggregate-domainevent-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetDomainEvent($key: ID = "") {
       Aggregate {
         DomainEvent {
           get(key: $key) {
             key
             drn
             projectDrn
             aggregateDrn
             name
             versions {
               version
               fields {
                 name
                 type
                 default
                 pattern
                 autofill
               } 
               handlers {
                 value
                 target
                 operand
               } 
             } 
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>