<template x-component="basic-form">
    <div x-data="{command: $persist({}).using(expiringStorage).as($prop('alias')),
    submitted:false, name: $prop('alias'), fields: $api.get()}" class="form-element"
    @refresh="fields = $api.get();">
            <form
                    @setdata.window="if($event.detail.command == name){command = $event.detail.data}">
                <template x-for="field in fields">
                    <div x-show="field.type != 'meta'" x-cloak x-transition>
                        <ui-form-fragment></ui-form-fragment>
                        <template x-if="field.type == 'nested'">
                            <div>
                                <hr>
                                <b x-text="field.title"></b>
                                <ul class="list-group">
                                    <template x-for="(row,index) in command[field.name]">
                                        <li class="list-group-item" x-data="{parent: field.name}">
                                            <div class="d-flex w-100 justify-content-between">
                                              <h5 class="mb-1">Row: <span x-text="index + 1"></span></h5>
                                              <small @click="command[field.name].splice(index,1)">remove</small>
                                            </div>
                                            <template x-for="field in field.fields">
                                                <ui-nested-form-fragment></ui-nested-form-fragment>
                                            </template>
                                        </li>
                                    </template>
                                    <button type="button" class="list-group-item list-group-item-action"
                                            @click="if(field.name in command){command[field.name].push({})}else{command[field.name] = [{}]}">Add row</button>
                                </ul>
                            </div>
                        </template>
                    </div>
                </template>
                <br>
                <button class="w-100 btn btn-lg btn-primary" x-show="!submitted" @click="if (!submitted){
                $store.mutation.send(name,command);
                $dispatch('submitted',command);submitted=true}" type="button">Submit
                </button>
                <button class="w-100 btn btn-lg btn-primary" x-show="submitted" disabled type="button">Submit
                </button>
            </form>
        <script>
      return {
        get(){
          try{
            let form = document.getElementById(this.$prop("alias")).innerText;
            return JSON.parse(form);
          } catch(exception){
            return [];
          }
        }
      }
        </script>
    </div>
</template>
<template x-component="form-fragment">
    <div class="mb-3" x-show="field.type != 'nested'" x-cloak x-transition>
        <label :for="name + field.name" class="form-label" x-text="field.title"></label>
        <template x-if="field.type == 'String' && field.pattern != ''">
            <input type="text"
                   class="form-control"
                   :value="field.default"
                   :pattern="field.pattern"
                   x-model="command[field.name]"
                   :id="name + field.name"
                   :placeholder="field.placeholder"/>
        </template>
        <template x-if="field.type == 'String' && field.pattern == ''">
<textarea class="form-control"
  x-model="command[field.name]"
  :value="field.default"
  :id="name + field.name" rows="1"></textarea>
        </template>
        <template x-if="field.type == 'Int' || field.type == 'Float'">
            <input type="number"
                   class="form-control"
                   :value="field.default"
                   x-model="command[field.name]"
                   :id="name + field.name"/>
        </template>
        <template x-if="field.type == 'Boolean'">
            <input type="checkbox"
                   class="form-control"
                   :value="field.default"
                   x-model="command[field.name]"
                   :id="name + field.name"/>
        </template>
    </div>
</template>
<template x-component="nested-form-fragment">
    <div class="mb-3" x-show="field.type != 'nested'" x-cloak x-transition>
        <label :for="parent + index + field.name" class="form-label" x-text="field.title"></label>
        <template x-if="field.type == 'String' && field.pattern != ''">
            <input type="text"
                   class="form-control"
                   :value="field.default"
                   :pattern="field.pattern"
                   x-model="command[parent][index][field.name]"
                   :id="parent + index + field.name"
                   :placeholder="field.placeholder"/>
        </template>
        <template x-if="field.type == 'String' && field.pattern == ''">
<textarea class="form-control"
  x-model="command[parent][index][field.name]"
                   :id="parent + index + field.name"
  :value="field.default"
  rows="1"></textarea>
        </template>
        <template x-if="field.type == 'Int' || field.type == 'Float'">
            <input type="number"
                   class="form-control"
                   :value="field.default"
                   x-model="command[parent][index][field.name]"
                   :id="parent + index + field.name"/>
        </template>
        <template x-if="field.type == 'Boolean'">
            <input type="checkbox"
                   class="form-control"
                   :value="field.default"
                   x-model="command[parent][index][field.name]"
                   :id="parent + index + field.name"/>
        </template>
    </div>
</template>