<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="create-view">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Create($projectDrn: String = "", $name: String = "", $namespace: String = "", $documentation: String = "", $fields: [CreateView_Field!] = []) {
       View{
         create(input: {projectDrn: $projectDrn,name: $name,namespace: $namespace,documentation: $documentation,fields: $fields}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "projectDrn",
    "title": "Projectdrn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "namespace",
    "title": "Namespace",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+(\\.([A-Z]{1}[a-z]+)+)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "documentation",
    "title": "Documentation",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "fields",
    "title": "Fields",
    "type": "nested",
    "fields": [
      {
        "name": "name",
        "title": "Name",
        "type": "String",
        "pattern": "[a-z]+([A-Z]{1}[a-z]+)*",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "type",
        "title": "Type",
        "type": "String",
        "pattern": "^(String|Int|Float|Boolean|StringList|FloatList|IntList)$",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "isPrimaryKey",
        "title": "Isprimarykey",
        "type": "Boolean",
        "pattern": "",
        "placeholder": "",
        "default": ""
      }
    ]
  }
]
    </div>
  </div>
</template>