<template x-component="menu-bar">
    <div class="navbar bg-primary-content h-[9vh]">

        <div class="navbar-start">
            <div class="dropdown">

                <div  class="tooltip tooltip-bottom"
                      data-tip="menu">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a @click="projectModal = true">Open project</a>
                        <a @click="newProjectModal = true">Start new project</a>
                        <a @click="Draftsman.signOut">Sign out</a>
                    </li>
                </ul>
                <dialog x-show="projectModal" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box">
                        <form method="dialog">
                            <button @click="projectModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Open project</h3>
                        <p class="py-4">
                        <ul class="menu bg-base-200 rounded-box">
                            <template x-for="project in projects" :key="project.drn">
                                <li>
                                    <a :drn="project.drn" @click="open_project">
                                        <span x-text="project.name"></span>
                                        <div class="badge badge-ghost" x-text="project.workspace"></div>
                                    </a>
                                </li>
                            </template>
                        </ul>
                        </p>
                    </div>
                </dialog>
                <dialog x-show="newProjectModal" x-cloak x-transition
                        class="modal modal-open">
                    <div class="modal-box w-11/12 max-w-5xl">
                        <form method="dialog">
                            <button @click="newProjectModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Start new project</h3>
                        <p class="py-4">
                            <table class="table">
                                <tr>
                                    <th scope="row">Workspace</th>
                                    <td>
                                        <select class="select select-bordered w-full max-w-xs" x-model="newProject.workspaceDrn">
                                            <option></option>
                                            <template x-for="workspace in raw_data.workspace" :key="workspace.drn">
                                                <option :value="workspace.drn" x-text="workspace.name"
                                                        :selected="newProject.workspaceDrn == workspace.drn"></option>
                                            </template>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Project name</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.name"
                                               x-data="inputValidator"
                                               @input="pascal_cased"
                                               @focusout="prepare_repos"
                                               placeholder="ProjectName"
                                               class="input w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Github account</th>
                                    <td>
                                        <input type="text"
                                               x-model="githubAccount"
                                               x-data="inputValidator"
                                               @input="github_account"
                                               @focusout="prepare_repos"
                                               placeholder="dummyaccount"
                                               class="input w-full max-w-xs" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Model Repository</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.modelRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.modelRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.modelRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Code Repository</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.codeRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.codeRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.codeRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">GUI Repository (beta)</th>
                                    <td>
                                        <input type="text"
                                               x-model="newProject.guiRepo"
                                               x-data="inputValidator"
                                               @input="github_repo_url"
                                               placeholder="https://github.com/username/repository"
                                               class="input w-full" />
                                        <button :repo="newProject.guiRepo"
                                                @click="create_repo"
                                                class="btn btn-outline btn-primary btn-xs ml-4">Create repository</button>
                                        <button :repo="newProject.guiRepo"
                                                @click="invite_draftsman"
                                                class="btn btn-outline btn-primary btn-xs">
                                            make sure the <i>draftsman-io</i> user is invited to have write access
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        <button class="btn btn-outline btn-primary mt-5 btn-block"
                                @click="start_new_project">Start project</button>
                        </p>
                    </div>
                </dialog>
                <dialog x-show="profileModal" x-cloak x-transition class="modal modal-open">
                    <div class="modal-box">
                        <h3 class="text-lg font-bold">Looks like you are here for the first time...</h3>
                        <p class="py-4">

                            <label class="input input-bordered flex items-center gap-2">
                                Choose a screen name
                                <input type="text" class="grow" placeholder="John Doe" x-model="fullName"/>
                            </label>
                            <small>After you tell us your name, we will create a personal workspace for you.
                                You will need to sign-in again.</small>
                            <button class="btn btn-outline btn-primary mt-5 btn-block"
                                    @click="create_user">Save</button>
                        </p>
                    </div>
                </dialog>
            </div>
        </div>

        <div class="navbar-center">
            <a class="btn btn-ghost text-xl" x-text="sessionStorage.project_name"></a>
        </div>

        <div class="navbar-end" x-data="sourceManagement">
            <template x-if="!window.chrome">
                <div class="link" style="color: red;">A <a href="https://en.wikipedia.org/wiki/Chromium_(web_browser)" target="_blank">chromium based browser is recommended!</div>
            </template>
            &nbsp;
            <div>
                <small x-show="last_pull" x-cloak x-transition>Last&nbsp;pulled: <span x-text="last_pull"></span></small><br>
                <small x-show="commit_diff.remoteAhead" x-cloak x-transition><span x-text="commit_diff.remoteAhead"></span>
                commits behind remote</small>
            </div>
        </div>

    </div>
</template>