<template x-component="model-wizard">
  <div class="relative inline-block"
       @keydown.window="handle_keydown"
       x-data="modelWizard">

    <button @click="start" class="btn btn-circle btn-outline btn-primary mr-2" :disabled="editing_disabled">
      <i class="fa-solid fa-plus"></i>
    </button>

    <button @click="copy_fields" x-show="copyEnabled" x-cloak x-transition class="btn btn-circle btn-outline btn-primary mr-2" :disabled="editing_disabled">
      <i class="fa-solid fa-copy"></i>
    </button>

    <template x-if="active">
      <div :file="navigation"></div>
    </template>
    <dialog x-show="active" x-cloak x-transition class="modal modal-open">
      <div class="modal-box  w-11/12 max-w-3xl">
        <form method="dialog">
          <button @click="close" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg mb-5">Add new model to project</h3>

        <div x-show="state == 1">
          <ul class="menu bg-base-200 rounded-box w-full">
            <li @click="start_command">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: C-key">
                <a>Command</a>
              </div>
            </li>
            <li @click="start_aggregate">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: A-key">
                <a>Aggregate</a>
              </div>
            </li>
            <li @click="start_domain_event">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: D-key">
                <a>Domain event</a>
              </div>
            </li>
            <li @click="start_behavior_flow">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: B-key">
                <a>Behavior flow</a>
              </div>
            </li>
            <li @click="start_notifier">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: N-key">
                <a>Notifier</a>
              </div>
            </li>
            <li @click="start_view">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: V-key">
                <a>View</a>
              </div>
            </li>
            <li @click="start_projection">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: P-key">
                <a>Projection</a>
              </div>
            </li>
            <li @click="start_expression">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: E-key">
                <a>Expression</a>
              </div>
            </li>
            <li @click="start_pattern">
              <div class="tooltip tooltip-bottom text-left" data-tip="Shortcut: R-key">
                <a>Pattern (regex)</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- Command -->
        <div x-show="state == 10" x-cloak x-transition>
          <input type="text"
                 x-model="parameters.path"
                 x-data="inputValidator"
                 @input="api_path"
                 @keyup.debounce.1000ms="check_command_name_uniqueness"
                 :disabled="editing_disabled"
                 class="input input-sm w-full max-w-xs" />
          <table class="table">
            <tr>
              <th scope="row">Command name</th>
              <td x-text="parameters.commandName"></td>
            </tr>
            <tr>
              <th scope="row">Event name</th>
              <td x-text="parameters.eventName"></td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>This API path already exists!</span>
          </div>

        </div>
        <div x-show="state == 11" x-cloak x-transition>
          <template x-if="state == 11">
            <table class="table">
              <tr>
                <th scope="row">Command name</th>
                <td x-text="parameters.commandName"></td>
              </tr>
              <tr x-effect="
                if(model.att_authorization){parameters.att_authorization = model.att_authorization}
                else if(parameters.att_authorization){model.att_authorization = parameters.att_authorization}">
                <th scope="row">Authorization mode</th>
                <td x-import="elements/input">
                  <ui-command-auth-mode></ui-command-auth-mode>
                </td>
              </tr>
              <tr x-effect="
                    if(model.att_role){parameters.att_role = model.att_role}
                    else if(parameters.att_role){model.att_role = parameters.att_role}"
                  x-show="model.att_authorization == 'role'" x-cloak x-transition>
                <th scope="row">Required role</th>
                <template x-if="model.att_authorization == 'role'">
                  <td x-import="elements/input">
                    <ui-role-selector></ui-role-selector>
                  </td>
                </template>
              </tr>
            </table>
          </template>
        </div>
        <div x-show="state == 12" x-cloak x-transition>

          <table class="table">
            <tr>
              <th scope="row">Command name</th>
              <td x-text="parameters.commandName"></td>
            </tr>
            <tr>
              <th scope="row">Authorization mode</th>
              <td x-text="parameters.att_authorization"></td>
            </tr>
            <tr x-show="model.att_authorization == 'role'" x-cloak x-transition>
              <th scope="row">Required role</th>
              <td x-text="parameters.att_role"></td>
            </tr>
            <tr x-show="!parameters.copyFrom" x-cloak x-transition>
              <th scope="row">Copy fields from model:</th>
              <td>
                none selected
              </td>
            </tr>
            <tr x-show="parameters.copyFrom" x-cloak x-transition>
              <th scope="row">Copy fields from model:</th>
              <template x-if="parameters.copyFrom">
                <td x-data="{type: Modeler.determine_type(parameters.copyFrom)}">
                  <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                  <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                  <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
                </td>
              </template>
              <td :navigation="parameters.copyFrom" x-text="get_name"></td>
              <td>
                <button @click="parameters.copyFrom = ''" class="btn btn-outline btn-xs btn-error">remove</button>
              </td>
            </tr>
          </table>

          <div x-show="!parameters.copyFrom" x-cloak x-transition>
            <template x-if="!parameters.copyFrom">
              <div>
                <label class="input input-bordered flex items-center gap-2 mt-5">
                  <input type="text" class="grow" x-model="search" placeholder="Search" />
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16 16"
                          fill="currentColor"
                          class="h-4 w-4 opacity-70">
                    <path
                            fill-rule="evenodd"
                            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                            clip-rule="evenodd" />
                  </svg>
                </label>
                <table class="table">
                  <template x-for="source in sources.filter(x => x.toLowerCase().includes(search.toLowerCase()))" :key="source">
                    <tr>
                      <td x-data="{type: Modeler.determine_type(source)}">
                        <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                        <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                        <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
                      </td>
                      <td :navigation="source" x-text="get_name"></td>
                      <td>
                        <button @click="parameters.copyFrom = source" class="btn btn-outline btn-xs btn-primary">copy fields</button>
                      </td>
                    </tr>
                  </template>
                </table>
              </div>
            </template>
          </div>

        </div>

        <!-- Aggregate -->
        <div x-show="state == 20" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Subdomain</th>
              <td>
                <input type="text"
                       x-model="parameters.subdomain"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_aggregate_name_uniqueness"
                       :disabled="editing_disabled"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
            <tr>
              <th scope="row">Aggregate name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_aggregate_name_uniqueness"
                       :disabled="editing_disabled"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
            <tr>
              <th scope="row">Functional key</th>
              <td>
                <input type="text"
                       x-model="parameters.key"
                       x-data="inputValidator"
                       @input="camel_cased"
                       @keyup.debounce.1000ms="check_aggregate_name_uniqueness"
                       :disabled="editing_disabled"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>The aggregate <span x-text="parameters.subdomain"></span>.<span x-text="parameters.name"></span> already exists!</span>
          </div>
        </div>
        <div x-show="state == 21" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Subdomain</th>
              <td x-text="parameters.subdomain"></td>
            </tr>
            <tr>
              <th scope="row">Aggregate name</th>
              <td x-text="parameters.name"></td>
            </tr>
            <tr>
              <th scope="row">Functional key</th>
              <td x-text="parameters.key"></td>
            </tr>
            <tr x-show="!parameters.copyFrom" x-cloak x-transition>
              <th scope="row">Copy fields from model:</th>
              <td>
                none selected
              </td>
            </tr>
            <tr x-show="parameters.copyFrom" x-cloak x-transition>
              <th scope="row">Copy fields from model:</th>
              <template x-if="parameters.copyFrom">
                <td>
                  <span x-data="{type: Modeler.determine_type(parameters.copyFrom)}">
                    <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                    <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                    <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
                  </span>
                  <span :navigation="parameters.copyFrom" x-text="get_name"></span>
                  <button @click="parameters.copyFrom = ''" class="btn btn-outline btn-xs btn-error">remove</button>
                </td>
              </template>
            </tr>
          </table>
          <div x-show="!parameters.copyFrom" x-cloak x-transition>
            <template x-if="!parameters.copyFrom">
              <div>
                <label class="input input-bordered flex items-center gap-2 mt-5">
                  <input type="text" class="grow" x-model="search" placeholder="Search" />
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16 16"
                          fill="currentColor"
                          class="h-4 w-4 opacity-70">
                    <path
                            fill-rule="evenodd"
                            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                            clip-rule="evenodd" />
                  </svg>
                </label>
                <table class="table">
                  <template x-for="source in sources.filter(x => x.toLowerCase().includes(search.toLowerCase()))" :key="source">
                    <tr>
                      <td x-data="{type: Modeler.determine_type(source)}">
                        <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                        <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                        <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
                      </td>
                      <td :navigation="source" x-text="get_name"></td>
                      <td>
                        <button @click="parameters.copyFrom = source" class="btn btn-outline btn-xs btn-primary">copy fields</button>
                      </td>
                    </tr>
                  </template>
                </table>
              </div>
            </template>
          </div>
        </div>

        <!-- Domain Event -->
        <div x-show="state == 30" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Parent Aggregate</th>
              <td>
                <select :disabled="editing_disabled"
                        @change="check_domain_event_name"
                        x-model="parameters.aggregate"
                        class="select select-xs select-ghost w-full max-w-xs modeler-input">
                  <option></option>
                  <template x-for="option in aggregates" :key="option">
                    <option :value="option" :selected="option == parameters.aggregate" x-text="option"></option>
                  </template>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">Event name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_domain_event_name"
                       :disabled="editing_disabled"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already an event with name [<span x-text="parameters.name"></span>] in the domain. Event names must be unique in the entire domain!<br><br>
              <template x-for="file in parameters.conflicts">
                <p x-text="file"></p>
              </template>
            </span>
          </div>
        </div>
        <div x-show="state == 31" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Parent Aggregate</th>
              <td x-text="parameters.aggregate"></td>
            </tr>
            <tr>
              <th scope="row">Event name</th>
              <td x-text="parameters.name"></td>
            </tr>
            <tr>
              <th scope="row">Data target</th>
              <td>
                <select :disabled="editing_disabled"
                        x-model="parameters.target"
                        class="select select-xs select-ghost w-full max-w-xs modeler-input">
                  <template x-for="option in targets" :key="option">
                    <option :value="option" :selected="option == parameters.target" x-text="option"></option>
                  </template>
                </select>
              </td>
            </tr>
          </table>
        </div>

        <!-- Behavior flow -->
        <div x-show="state == 40" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Parent Aggregate</th>
              <td>
                <select :disabled="editing_disabled"
                        @change="check_behavior_name"
                        x-model="parameters.aggregate"
                        class="select select-xs select-ghost w-full max-w-xs modeler-input">
                  <option></option>
                  <template x-for="option in aggregates" :key="option">
                    <option :value="option" :selected="option == parameters.aggregate" x-text="option"></option>
                  </template>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">Behavior flow name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_behavior_name"
                       :disabled="editing_disabled"
                       placeholder="BehaviorName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already an behavior flow with name [<span x-text="parameters.name"></span>] in the aggregate [<span x-text="parameters.aggregate"></span>].</span>
          </div>
        </div>

        <!-- Notifier -->
        <div x-show="state == 50" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Notifier name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_notifier_name"
                       :disabled="editing_disabled"
                       placeholder="NotifierName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already a Notifier with name [<span x-text="parameters.name"></span>] in the domain.</span>
          </div>
        </div>

        <!-- View -->
        <div x-show="state == 60" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Path</th>
              <td>
                <input type="text"
                       x-model="parameters.path"
                       x-data="inputValidator"
                       @input="viewPathRegex"
                       @keyup.debounce.1000ms="check_view_name"
                       :disabled="editing_disabled"
                       placeholder="Folder/Path"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
            <tr>
              <th scope="row">View name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_view_name"
                       :disabled="editing_disabled"
                       placeholder="ViewName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already a View with name [<span x-text="parameters.name"></span>] in the domain.</span>
          </div>
        </div>

        <!-- Projection -->
        <div x-show="state == 70" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Path</th>
              <td>
                <input type="text"
                       x-model="parameters.path"
                       x-data="inputValidator"
                       @input="viewPathRegex"
                       @keyup.debounce.1000ms="check_projection_name"
                       :disabled="editing_disabled"
                       placeholder="Folder/Path"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
            <tr>
              <th scope="row">Projection name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_projection_name"
                       :disabled="editing_disabled"
                       placeholder="ProjectionName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already a Projection with name [<span x-text="parameters.name"></span>] in the domain.</span>
          </div>
        </div>

        <!-- Expression -->
        <div x-show="state == 80" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Expression name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="camel_cased"
                       @keyup.debounce.1000ms="check_expression_name"
                       :disabled="editing_disabled"
                       placeholder="expressionName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already an Expression with name [<span x-text="parameters.name"></span>] in the domain.</span>
          </div>
        </div>

        <!-- Pattern -->
        <div x-show="state == 90" x-cloak x-transition>
          <table class="table">
            <tr>
              <th scope="row">Pattern name</th>
              <td>
                <input type="text"
                       x-model="parameters.name"
                       x-data="inputValidator"
                       @input="pascal_cased"
                       @keyup.debounce.1000ms="check_pattern_name"
                       :disabled="editing_disabled"
                       placeholder="PatternName"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
            <tr>
              <th scope="row">Pattern name</th>
              <td>
                <input type="text"
                       x-model="parameters.regex"
                       :disabled="editing_disabled"
                       placeholder="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       class="input input-sm w-full max-w-xs" />
              </td>
            </tr>
          </table>
          <div x-show="dialog_id == 1" x-cloak x-transition role="alert" class="alert alert-error mt-5">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>There is already an Patten with name [<span x-text="parameters.name"></span>] in the domain.</span>
          </div>
        </div>

        <pre x-text="JSON.stringify(parameters,null,2)"></pre>
        <div class="modal-action">

          <button class="btn btn-primary"
                  x-show="previous" x-cloak x-transition
                  @click="state -= 1">Previous</button>
          <button class="btn btn-primary"
                  x-show="next" x-cloak x-transition
                  :disabled="conflicted"
                  @click="state += 1">Next</button>
          <button class="btn btn-primary"
                  x-show="ready" x-cloak x-transition
                  :disabled="conflicted"
                  @click="insert_model">Save</button>
        </div>
      </div>
    </dialog>

    <dialog x-show="copy_modal" x-cloak x-transition class="modal modal-open">
      <div class="modal-box  w-11/12 max-w-3xl">
        <form method="dialog">
          <button @click="copy_modal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg mb-5">Copy attributes from:</h3>

        <table class="table" x-show="parameters.copyFrom" x-cloak x-transition>
          <template x-if="parameters.copyFrom">
            <tr>
              <td x-data="{type: Modeler.determine_type(parameters.copyFrom)}">
                <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
              </td>
              <td :navigation="parameters.copyFrom" x-text="get_name"></td>
              <td>
                <button @click="parameters.copyFrom = ''" class="btn btn-outline btn-xs btn-error">deselect</button>
              </td>
            </tr>
          </template>
        </table>

        <div x-show="!parameters.copyFrom" x-cloak x-transition>
          <template x-if="!parameters.copyFrom">
            <div>
              <label class="input input-bordered flex items-center gap-2 mt-5">
                <input type="text" class="grow" x-model="search" placeholder="Search" />
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="h-4 w-4 opacity-70">
                  <path
                          fill-rule="evenodd"
                          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                          clip-rule="evenodd" />
                </svg>
              </label>
              <table class="table">
                <template x-for="source in sources.filter(x => x.toLowerCase().includes(search.toLowerCase()))" :key="source">
                  <tr>
                    <td x-data="{type: Modeler.determine_type(source)}">
                      <div x-show="type == 'command'" x-cloak x-transition class="badge badge-neutral">Command</div>
                      <div x-show="type == 'aggregate'" x-cloak x-transition class="badge badge-primary">Aggregate</div>
                      <div x-show="type == 'entity'" x-cloak x-transition class="badge badge-accent">Collection</div>
                    </td>
                    <td :navigation="source" x-text="get_name"></td>
                    <td>
                      <button @click="parameters.copyFrom = source" class="btn btn-outline btn-xs btn-primary">copy fields</button>
                    </td>
                  </tr>
                </template>
              </table>
            </div>
          </template>
        </div>

        <div class="modal-action">

          <button class="btn btn-primary"
                  @click="copy_attributes">Copy</button>
        </div>
      </div>
    </dialog>
  </div>
</template>