<template x-component="navigation">
    <div>
        <ul class="menu bg-base-200 rounded-box w-56">
            <li>
                <a :class="navigationElementActive"
                   navigation="db-example-page"
                   @click="navigate">
                    <i class="fa-solid fa-kiwi-bird"></i>
                    Document database example
                </a>
            </li>
            <li>
                <a :class="navigationElementActive"
                   navigation="fts-example-page"
                   @click="navigate">
                    <i class="fa-solid fa-hippo"></i>
                    Fulltext Search database example
                </a>
            </li>
            <li>
                <a :class="navigationElementActive"
                   navigation="api-example-page"
                   @click="navigate">
                    <i class="fa-solid fa-otter"></i>
                    GraphQL API example
                </a>
            </li>
            <li>
                <a :class="navigationElementActive"
                   navigation="git-example-page"
                   @click="navigate">
                    <i class="fa-solid fa-frog"></i>
                    GIT example
                </a>
            </li>
        </ul>

    </div>

</template>