<template x-component="diagram">
    <div>
        <div style="position: relative;">
        <div id="project-diagram" class="diagram"></div>
        <i class="fa-solid fa-expand"
           style="position: relative;bottom: 30px;left:94%;z-index:1000;color: #5A67D8;"
           @click="setTimeout(draw_modal,10)"
           data-bs-toggle="modal"
           data-bs-target="#exampleModal"></i>

        <i class="fa-solid fa-rotate-right"
           style="position: relative;bottom: 30px;z-index:1000;color: #5A67D8;"
           @click="Diagram.draw();draw_diagram(true)"></i>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Domain Diagram</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="project-diagram-modal"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>