<template x-component="command-auth-mode">
  <select :disabled="editing_disabled"
          x-model="model.att_authorization"
          class="select select-ghost w-full max-w-xs modeler-input">
    <option>anonymous</option>
    <option>authenticated</option>
    <option>role</option>
  </select>
</template>
<template x-component="view-auth-mode">
  <select :disabled="editing_disabled"
          x-model="query.att_authorization"
          class="select select-ghost w-full modeler-input">
    <option>anonymous</option>
    <option>authenticated</option>
    <option>role</option>
    <option value="user">user must match</option>
  </select>
</template>
<template x-component="role-selector">
  <div x-data="roleSelector" x-init="if(!model.att_role){model.att_role = ''}">
    <select :disabled="editing_disabled"
            x-model="model.att_role"
            x-show="!model.att_role.startsWith('#')" x-cloak x-transition
            class="select select-ghost w-full max-w-xs modeler-input">
      <template x-for="role in roles" :key="role">
        <option :value="role" :selected="role == model.att_role" x-text="role"></option>
      </template>
    </select>
    <template x-if="pattern && model.att_role.startsWith('#')">
      <input type="text"
             x-model="model.att_role"
             x-data="inputValidator(pattern)"
             message="Must be a valid global expression"
             @input="custom_pattern"
             x-show="model.att_role.startsWith('#')" x-cloak x-transition
             class="input input-sm w-full max-w-xs" />
    </template>
  </div>
</template>
<template x-component="view-role-selector">
  <div x-data="roleSelector" x-init="if(!query.att_role){query.att_role = ''}">
    <select :disabled="editing_disabled"
            x-model="query.att_role"
            x-show="!query.att_role.startsWith('#')" x-cloak x-transition
            class="select select-ghost w-full modeler-input">
      <template x-for="role in roles" :key="role">
        <option :value="role" :selected="role == query.att_role" x-text="role"></option>
      </template>
    </select>
    <template x-if="pattern && query.att_role.startsWith('#')">
      <input type="text"
             x-model="query.att_role"
             x-data="inputValidator(pattern)"
             message="Must be a valid global expression"
             @input="custom_pattern"
             x-show="query.att_role.startsWith('#')" x-cloak x-transition
             class="input input-sm w-full" />
    </template>
  </div>
</template>
<template x-component="trigger-keyfield-selector">
  <div x-init="if(!trigger['att_key-field']){trigger['att_key-field'] = ''}">
    <select :disabled="editing_disabled"
            x-model="trigger['att_key-field']"
            x-show="!trigger['att_key-field'].startsWith('#')" x-cloak x-transition
            class="select select-sm select-ghost w-full max-w-xs modeler-input">
      <template x-for="option in keyOptions" :key="option">
        <option :value="option" :selected="option == trigger['att_key-field']" x-text="option"></option>
      </template>
    </select>
    <input type="text"
           :disabled="editing_disabled"
           x-model="trigger['att_key-field']"
           x-show="trigger['att_key-field'].startsWith('#')" x-cloak x-transition
           class="input input-sm input-ghost w-full max-w-xs modeler-input" />
  </div>
</template>
<template x-component="trigger-field-selector">
  <div>
    <select :disabled="editing_disabled"
            x-model="map.att_value"
            x-show="!map.att_value.startsWith('#')" x-cloak x-transition
            class="select select-sm select-ghost w-full max-w-xs modeler-input">
      <option></option>
      <template x-for="option in options" :key="option">
        <option :value="option" :selected="option == map.att_value" x-text="option"></option>
      </template>
      <option>#''</option>
    </select>
    <input type="text"
           :disabled="editing_disabled"
           x-model="map.att_value"
           x-show="map.att_value.startsWith('#')" x-cloak x-transition
           class="input input-sm input-ghost w-full max-w-xs modeler-input" />
  </div>
</template>
<template x-component="flow-variable-selector">
  <div>
    <select :disabled="editing_disabled"
            x-model="map.att_value"
            x-show="!map.att_value || map.att_value == '' || flowVariables.includes(map.att_value.replace('#flow.',''))" x-cloak x-transition
            class="select select-sm select-ghost w-full max-w-xs modeler-input">
      <option></option>
      <template x-for="option in flowVariables" :key="option">
        <option :value="'#flow.' + option" :selected="'#flow.' + option == map.att_value" x-text="option"></option>
      </template>
      <option value="#''">#'expression'</option>
    </select>
    <input type="text"
           :disabled="editing_disabled"
           x-model="map.att_value"
           x-show="map.att_value != '' && !flowVariables.includes(map.att_value.replace('#flow.',''))" x-cloak x-transition
           class="input input-sm input-ghost w-full max-w-xs modeler-input" />
  </div>
</template>
<template x-component="notifier-variable-selector">
  <div>
    <select :disabled="editing_disabled"
            x-model="activity[$prop('key')]"
            x-data="{options: []}"
            x-effect="let tmp = flowVariables;await Draftsman.sleep(1);if(tmp != options){options=tmp;}"
            x-show="!activity[$prop('key')] || activity[$prop('key')] == '' || flowVariables.includes(activity[$prop('key')].replace('#flow.',''))" x-cloak x-transition
            class="select select-sm select-ghost w-full max-w-xs modeler-input">
      <option></option>
      <template x-for="option in options" :key="option">
        <option :value="'#flow.' + option" :selected="'#flow.' + option == activity[$prop('key')]" x-text="option"></option>
      </template>
      <option value="#''">#'expression'</option>
    </select>
    <input type="text"
           :disabled="editing_disabled"
           x-model="activity[$prop('key')]"
           x-show="activity[$prop('key')] != '' && !flowVariables.includes(activity[$prop('key')].replace('#flow.',''))" x-cloak x-transition
           class="input input-sm input-ghost w-full max-w-xs modeler-input" />
  </div>
</template>