<template x-component="command-form">
  <div x-import="utils/data-elements;utils/basic-modal"
          x-data="{command: $persist({}).using(expiringStorage).as($prop('alias')), name: $prop('alias'),submitted:false}">
    <draftsman-query alias="patterns" x-include="/prepared-statements/command/patterns.txt" authenticated>
    </draftsman-query>

    <ui-basic-modal
            :title="$prop('title')"
            :alias="name"></ui-basic-modal>

    <ui-trace-graph
            :target="'#modal_body_' + name"></ui-trace-graph>

    <template :x-target="'#modal_body_' + name">
      <form @setdata.window="if($event.detail.command == name){command = $event.detail.data}">
        <div class="mb-3">
          <label for="graphqlNamespace" class="form-label">GraphQL Namespace</label>
          <input type="text" class="form-control" x-model="command.graphqlNamespace"
                 id="graphqlNamespace"
                 placeholder="Subdomain.Aggregate"
                 pattern="^([A-Z]{1}[a-z]+)+(\.([A-Z]{1}[a-z]+)+)*$">
        </div>
        <div class="mb-3">
          <label for="graphqlMethodName" class="form-label">GraphQL Method Name</label>
          <input type="text" class="form-control" x-model="command.graphqlMethodName"
                 id="graphqlMethodName" placeholder="create" pattern="^[a-z]+([A-Z]{1}[a-z]+)*$">
        </div>
        <div class="mb-3">
          <label for="commandname" class="form-label">Command Name</label>
          <input type="text" class="form-control" x-model="command.name" id="commandname"
                 placeholder="CreateSubdomainAggregate"
                 x-effect="command.name = command.graphqlMethodName.charAt(0).toUpperCase()
                    + command.graphqlMethodName.slice(1) + command.graphqlNamespace.replace('.','')" disabled="">
        </div>
        <div class="mb-3">
          <label for="authorizationMethod" class="form-label">Authorization Method</label>
          <select x-model="command.authorization"
                  x-init="command.authorization = 'authenticated'"
                  x-include="/components/custom-forms/elements/authorization-options.html"
                  class="form-select" aria-label="Default select example" id="authorizationMethod">
          </select>
        </div>
        <div class="mb-3" x-transition x-show="command.authorization == 'role'" x-cloak>
          <label for="role" class="form-label">Required Role</label>
          <input type="text" class="form-control" x-model="command.role"
                 id="role">
        </div>
        <div class="mb-3" x-transition x-show="command.authorization == 'user'" x-cloak>
          <label for="usernameField" class="form-label">Username Field</label>
          <input type="text" class="form-control"
                 x-model="command.usernameField" id="usernameField">
        </div>
        <h6>Command Input Fields:</h6>
        <div x-init="if (!command.fields){command.fields = []}">
          <template x-for="(item, index) in command.fields">
            <div class="row">
              <div class="mb-3 col" x-transition x-cloak>
                <input type="text" class="form-control" x-model="command.fields[index].name" placeholder="fieldName">
              </div>
              <div class="mb-3 col" x-transition x-cloak>
                <select x-model="command.fields[index].type"
                        x-include="/components/custom-forms/elements/field-types.html"
                        x-init="command.fields[index].type = 'String'"
                        class="form-select">

                </select>
              </div>
              <div class="mb-3 col" x-transition x-cloak>
                <select class="form-select" x-model="command.fields[index].autofill">
                  <option value="autofill-disabled">autofill-disabled</option>
                  <option value="username">username</option>
                  <option value="uuid">uuid</option>
                </select>
              </div>
              <div class="mb-3 col" x-transition x-cloak
                   x-show="!['username','uuid'].includes(command.fields[index].autofill)">
                <input type="text" class="form-control"
                       x-model="command.fields[index].default"
                       placeholder="Default value">
              </div>
              <div class="mb-3 col" x-transition
                   x-show="!['username','uuid'].includes(command.fields[index].autofill)">
                <select x-model="command.fields[index].pattern"
                        class="form-select">
                  <option>Select pattern</option>
                  <template x-for="item in $store.patterns.filter.resultset">
                    <option x-bind:value="item" x-html="item" x-bind:selected="command.fields[index].pattern == item"></option>
                  </template>
                </select>
              </div>
              <div class="col">
                <button class="btn btn-danger btn-sm"
                        type="button"
                        @click="t1 = command.fields.splice(0,index);
                        t2 = command.fields.splice(1);
                        command.fields = t1.concat(t2)">Remove</button>
              </div>
              <hr>
            </div>
          </template>
        <button type="button" class="btn btn-success btn-sm" @click="command.fields.push({
      name: '',
      type: `String`,
      autofill: `autofill-disabled`,
      default: '',
      pattern: '',
  })">Add</button>
        <hr>
        <div class="mb-3" x-transition="">
          <label for="commanddocumentation" class="form-label">Documentation (Markdown)</label>
          <textarea class="form-control" id="commanddocumentation" x-model="command.documentation" rows="5"></textarea>
        </div>
          <input type="hidden" x-init="command.projectDrn = get_drn()" class="form-control" x-model="command.projectDrn" id="command.drn">

          <button class="btn btn-primary"
                  type="button"
                  @click="if (!submitted){
                $store.mutation.send(name,command);
                $store.mutation.last_command = command;
                $dispatch('submitted',command);submitted=true}"
                  x-bind:disabled="submitted">Submit</button>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#modalcreatePattern" x-html="`Create pattern`">Create pattern</button>
        <button type="button" class="btn btn-danger" @click="alert('not implemented')">Reset Form</button>
      </form>
    </template>
  </div>
</template>