<template x-component="behavior-settings">
    <div class="overflow-x-auto">
        <table class="table table-xs">
            <tr>
                <th scope="row">Is create flow</th>
                <td>
                    <input type="checkbox"
                           @change="if($el.checked){model['att_create-command'] = 'true';model['att_reactivate-command'] = 'false'}else{model['att_create-command'] = 'false'}"
                           :checked="'att_create-command' in model && model['att_create-command'] == 'true'"
                           class="checkbox checkbox-info" />
                </td>
            </tr>
            <tr>
                <th scope="row">May revoke soft delete</th>
                <td>
                    <input type="checkbox"
                           @change="if($el.checked){model['att_reactivate-command'] = 'optional';model['att_create-command'] = 'false'}else{model['att_reactivate-command'] = 'false'}"
                           :checked="'att_reactivate-command' in model && model['att_reactivate-command'] == 'true'"
                           class="checkbox checkbox-info" />
                </td>
            </tr>
        </table>
    </div>
</template>