<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="delete-aggregate">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Delete($drn: String = "", $mode: String = "soft") {
       Aggregate{
         delete(input: {drn: $drn,mode: $mode}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:domain:([A-Z]{1}[a-z]+)+:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "mode",
    "title": "Mode",
    "type": "String",
    "pattern": "^(soft|hard)$",
    "placeholder": "soft",
    "default": "soft"
  }
]
    </div>
  </div>
</template>