<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="create-user">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Create($fullName: String = "") {
       User{
         create(input: {fullName: $fullName}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "fullName",
    "title": "Fullname",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>