<template x-component="editable-text-field">
  <span x-data="{failed:false}">
    <template x-if="$prop('prefix')">
      <span x-text="$prop('prefix')"></span>
    </template>

    <span x-text="$prop('value')" @keypress="if($event.key == 'Enter'){$event.preventDefault()}" @focusout="
    let value = $el.innerText;
    if($prop('pattern')){
      if (check_pattern(value,$prop('pattern'))){
        failed = false;
        $dispatch('updated',{value:value});
      } else {
        failed = true;
      }
    } else {
      failed = false;
      $dispatch('updated',{value:value});
    }
  " contenteditable class="p-2"></span>
    <template x-if="failed && $prop('message')">
      <div x-show="failed && $prop('message')" x-cloak x-transition role="alert" class="alert alert-error">
        <span x-html="$prop('message')"></span>
      </div>
    </template>
  </span>
</template>
<template x-component="editable-text-area">
  <span>
    <pre x-text="$prop('value')" @focusout="
    let value = $el.innerText;
      $dispatch('updated',{value:value});
  " contenteditable class="p-2"></pre>
  </span>
</template>
<template x-component="delete-button">
  <div x-data="{countdown: -1,interval: null}" x-effect="if(countdown==0){clearInterval(interval);countdown=-1;$dispatch('delete')}">
    <button class="btn btn-ghost" @click="
      if(countdown == -1){
        countdown = 5;
        interval = setInterval(function(){countdown -= 1},1000);
      } else {
        clearInterval(interval);
        countdown = -1;
      }
    ">
      <i x-show="countdown < 0" class="fa-regular fa-trash-can"></i>
      <span x-show="countdown > -1" x-cloak x-transition x-text="countdown"></span>
    </button>
  </div>
</template>
<template x-component="field-name">
  <ui-editable-text-field
          :value="field.att_name"
          :pattern="lower_or_camel_cased"
          message="Must be <i>lowercased</i> or <i>camelCased</i>"
          @updated.debounce.1000ms="field.att_name = $event.detail.value"></ui-editable-text-field>
</template>
<template x-component="field-type">
  <select class="editable" x-model="field.att_type">
    <option value="String">String</option>
    <option value="Int">Int</option>
    <option value="Float">Float</option>
    <option value="Boolean">Boolean</option>
    <option value="StringList">StringList</option>
  </select>
</template>
<template x-component="event-mapper">
  <table class="table">
    <tr>
      <th scope="col">Document field</th>
      <th scope="col">Mapping</th>
      <th scope="col">Event field</th>
    </tr>
    <template x-for="field in fields" :key="field.att_name">
      <tr x-data="{field_mapping: {}}"
          x-effect="field_mapping = Aggregate.get_event_handler_mapping(field,mapper)">
        <td x-text="field.att_name"></td>
        <td>
          <select class="editable" @change="if(!Aggregate.isMapped(field,mapper)){
                        field_mapping.att_target = field.att_name;
                        mapper.mapping.push(field_mapping);
                      } else if ($el.value == 'unmapped'){
                        mapper.mapping = mapper.mapping.filter(x => x.att_target != field.att_name)
                      }" x-model="field_mapping.att_operand">
            <option value="unmapped">Unmapped</option>
            <option value="set">Set</option>
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
          </select>
        </td>
        <td x-show="Aggregate.isMapped(field,mapper)" x-cloak x-transition>
          <select class="editable" x-model="field_mapping.att_value">
            <option>-not set-</option>
            <template x-for="event_field in model.field" :key="event_field.att_name">
              <option :value="event_field.att_name"
                      :selected="event_field.att_name == field_mapping.att_value"
                      x-text="event_field.att_name" ></option>
            </template>
          </select>
        </td>
      </tr>
    </template>
    <template x-for="entity in entities" :key="entity.att_name">
      <tr x-data="{field_mapping: {}}"
          x-effect="field_mapping = Aggregate.get_event_handler_mapping(entity,mapping)">
        <td x-text="entity.att_name"></td>
        <td>
          <select class="editable" @change="if(!Aggregate.isMapped(entity,mapping)){
                        field_mapping.att_target = entity.att_name;
                        field_mapping.att_strategy = $el.value;
                        mapping['nested-mapping'].push(field_mapping);
                      } else if ($el.value == 'unmapped'){
                        mapping['nested-mapping'] = mapping['nested-mapping'].filter(x => x.att_target != entity.att_name)
                      }" x-model="field_mapping.att_strategy">
            <option value="unmapped">Unmapped</option>
            <option value="extend">Extend</option>
            <option value="replace">Replace</option>
          </select>
        </td>
        <td x-show="Aggregate.isMapped(entity,mapping)" x-cloak x-transition>
          <div x-data="{collection: {}}" x-effect="collection = model['nested-object'].filter(x => x.att_name == field_mapping.att_source).at(0)">
            <select class="editable" x-model="field_mapping.att_source">
              <option>-source collection-</option>
              <template x-for="collection in model['nested-object']" :key="collection.att_name">
                <option :value="collection.att_name"
                        :selected="collection.att_name == field_mapping.att_source"
                        x-text="collection.att_name" ></option>
              </template>
            </select>
            <select class="editable" x-model="field_mapping['att_business-key']">
              <option>-business key-</option>
              <template x-for="event_field in collection.field" :key="event_field.att_name">
                <option :value="event_field.att_name"
                        :selected="event_field.att_name == field_mapping['att_business-key']"
                        x-text="event_field.att_name" ></option>
              </template>
            </select>
          </div>

        </td>
      </tr>
    </template>
  </table>
</template>
<template x-component="add-button">
  <div x-data="{failed: false,id: makeid(6)}">
    <button class="btn btn-ghost" @click="document.getElementById(id).showModal()"><i class="fa-solid fa-plus"></i>&nbsp;
      <span x-show="$prop('button-text')" x-cloak x-transition x-text="$prop('button-text')"></span></button>
    <dialog :id="id" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg" x-text="$prop('modal-title')"></h3>
        <p class="py-4">
          <input type="text"
                 @keyup.enter.debounce="
                 let value = $el.value;
                 if($prop('pattern')){
                  if (check_pattern(value,$prop('pattern'))){
                    failed = false;
                  $dispatch('updated',{value:value});
                  document.getElementById(id).close()
                  } else {
                  failed = true;
                  }
                  } else {
                  failed = false;
                  $dispatch('updated',{value:value});
                  document.getElementById(id).close()
                  }"
                 class="input w-full" />
          <template x-if="failed && $prop('message')">
                  <div x-show="failed && $prop('message')" x-cloak x-transition role="alert" class="alert alert-error">
                    <span x-html="$prop('message')"></span>
                  </div>
          </template>
        </p>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</template>
<template x-component="inline-code">
  <div x-data="{id: makeid(6),editor:null}">
    <div :id="id"
         style="width: 100%;height:50vh;"
         @keyup.debounce="let code = editor.getValue();if(!$prop('disable-break-replacement')){code = code.replaceAll('\n','|LB|')};$dispatch('updated',{code:code})"
         @redraw.document="if($prop('prevent-reload')){return};await sleep(1000);editor = await render_python_editor(id,$prop('code'))"
         x-init="editor = await render_python_editor(id,$prop('code'))">
    </div>
  </div>
</template>