<template x-component="prompt">
    <div x-data="{show_modal: false,value: ''}" @show-modal.window="if($event.detail.id == $prop('id')){show_modal=true}">
        <template x-if="show_modal">
            <div>
                <div class="overlay"></div>
                <div class="prompt-small">
                    <h4><span x-text="$prop('title')"></span>
                        <button type="button" @click="show_modal=false" class="btn-close float-end"></button>
                    </h4>

                    <input type="text"
                           class="form-control"
                           @keyup.enter="show_modal = false;$dispatch('prompt-filled',{'value':value})" x-model="value" />

                </div>
            </div>
        </template>
    </div>
</template>