<template x-component="issues">
    <div>
        <template x-if="session.issues.length != 0">
            <button class="btn btn-circle btn-outline btn-error"
                    @click="issues_overview.showModal()">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
        </template>
        <dialog id="issues_overview" class="modal">
            <div class="modal-box w-11/12 max-w-5xl">
                <h3 class="text-lg font-bold">Model issues</h3>
                <p class="py-4">
                <table class="table table-xs">
                    <template x-for="issue in session.issues">
                        <tr class="cursor-pointer" @click="Navigation.open(issue.filePath);issues_overview.close()">
                            <th scope="row" x-text="Navigation.get_name(issue.filePath)"></th>
                            <td x-text="issue.type"></td>
                            <td x-text="issue.message"></td>
                        </tr>
                    </template>
                </table>
                </p>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</template>