<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="testsuite-config-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetTestSuiteConfig($key: ID = "") {
       TestSuite {
         Config {
           get(key: $key) {
             key
             drn
             cleanDb
             cleanIam
             eventCoverage
             viewCoverage
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>