<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="refactor-command-name">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation RefactorName($name: String = "", $graphqlNamespace: String = "", $graphqlMethodName: String = "", $drn: String = "") {
       Command{
         refactorName(input: {name: $name,graphqlNamespace: $graphqlNamespace,graphqlMethodName: $graphqlMethodName,drn: $drn}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "name",
    "title": "Name",
    "type": "String",
    "pattern": "([A-Z]{1}[a-z]+)+",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "graphqlNamespace",
    "title": "Graphqlnamespace",
    "type": "String",
    "pattern": "^([A-Z]{1}[a-z]+)+(\\.([A-Z]{1}[a-z]+)+)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "graphqlMethodName",
    "title": "Graphqlmethodname",
    "type": "String",
    "pattern": "^[a-z]+([A-Z]{1}[a-z]+)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:command:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>