<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="update-command">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Update($drn: String = "", $authorization: String = "", $role: String = "", $documentation: String = "", $usernameField: String = "", $fields: [UpdateCommand_Field!] = []) {
       Command{
         update(input: {drn: $drn,authorization: $authorization,role: $role,documentation: $documentation,usernameField: $usernameField,fields: $fields}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:command:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "authorization",
    "title": "Authorization",
    "type": "String",
    "pattern": "^(authenticated|role|user|anonymous)$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "role",
    "title": "Role",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "documentation",
    "title": "Documentation",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "usernameField",
    "title": "Usernamefield",
    "type": "String",
    "pattern": "^[a-z]+([A-Z]{1}[a-z]+)*(\\.[a-z]+([A-Z]{1}[a-z]+)*)*$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "fields",
    "title": "Fields",
    "type": "nested",
    "fields": [
      {
        "name": "name",
        "title": "Name",
        "type": "String",
        "pattern": "^[a-z]+([A-Z]{1}[a-z]+)*(\\.[a-z]+([A-Z]{1}[a-z]+)*)*$",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "type",
        "title": "Type",
        "type": "String",
        "pattern": "^(String|Int|Float|Boolean|NestedString|NestedInt|NestedFloat|NestedBoolean)$",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "default",
        "title": "Default",
        "type": "String",
        "pattern": "",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "pattern",
        "title": "Pattern",
        "type": "String",
        "pattern": "",
        "placeholder": "",
        "default": ""
      },
      {
        "name": "autofill",
        "title": "Autofill",
        "type": "String",
        "pattern": "^(autofill-disabled|username|uuid)$",
        "placeholder": "",
        "default": ""
      }
    ]
  }
]
    </div>
  </div>
</template>