<template x-component="settings">
    <div x-data="{project:{},config: {}}"
         x-effect="if(session.frame =='/modeler#settings'){config = await Modeler.get('config.xml');project = Project.get();}">
        <div class="prose">
            <h2>Modeler Settings</h2>
        </div>
        <table class="table">
            <tr>
                <th scope="row">Model validation (beta feature):</th>
                <td>
                    <div class="form-control" x-data="{validation_enabled: $persist(true).using(sessionStorage)}">
                        <label class="label cursor-pointer">
                            <input type="checkbox" class="toggle"
                                   @change="ModelValidator.resetValidation();"
                                   x-model="validation_enabled" />
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Model issue alert:</th>
                <td x-data="{issue_sound: $persist('funk')}">
                    <select class="select select-bordered w-full max-w-xs"
                            @change="playAlert(issue_sound);"
                            x-model="issue_sound">
                        <option>bottle</option>
                        <option>glass</option>
                        <option>funk</option>
                        <option>morse</option>
                        <option>purr</option>
                        <option>tink</option>
                        <option>submarine</option>
                        <option>-none-</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Ready to upload alert:</th>
                <td x-data="{ready_sound: $persist('purr')}">
                    <select class="select select-bordered w-full max-w-xs"
                            @change="playAlert(ready_sound);"
                            x-model="ready_sound">
                        <option>bottle</option>
                        <option>glass</option>
                        <option>funk</option>
                        <option>morse</option>
                        <option>purr</option>
                        <option>tink</option>
                        <option>submarine</option>
                        <option>-none-</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="prose">
            <h2>Project Settings</h2>
        </div>
        <table class="table">
            <tr>
                <th scope="row">Project name:</th>
                <td x-text="project.name"></td>
            </tr>
            <tr>
                <th scope="row">Repositories:</th>
                <td>
                    <table class="table">
                        <template x-for="repo in project.repositories">
                            <tr>
                                <th scope="row" x-text="repo.name"></th>
                                <td>
                                    <span x-text="repo.status"></span>
                                    <span x-show="repo.status != 'initialized'">
                                        Make sure that the repo exists in GitHub and that the <i>draftsman-io</i> user
                                        has
                                         <a class="link" :href="repo.url + '/settings/access'" target="_blank">
                                            write access.
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <a x-text="repo.url" :href="repo.url" target="_blank"></a>
                                </td>
                            </tr>
                        </template>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">Pipeline</th>
                <td x-show="project.pipelines.length == 0" x-cloak x-transition>
                    <button class="btn" onclick="pipeline_setup.showModal()">Setup pipeline</button>
                    <dialog id="pipeline_setup" class="modal">
                        <div class="modal-box" x-data="{selection:regions}">
                            <h3 class="text-lg font-bold">Select region</h3>
                            <p class="py-4" x-data="{search: ''}">
                                <input type="text" placeholder="Search..."
                                       x-model="search"
                                       @keyup.debounce="console.log(search);selection = regions.filter(x => JSON.stringify(x).toLowerCase().includes(search.toLowerCase()))"
                                       class="input input-bordered input-primary w-full" />
                            <br>
                                <table class="table">
                            <template x-for="region in selection"
                                      :key="region.full_name">
                                <tr class="cursor-pointer" @click="create_pipeline(region,project);pipeline_setup.close()">
                                    <th scope="row" x-text="region.name + ' (' + region.code + ')'"></th>
                                </tr>
                            </template>
                        </table>
                            </p>
                        </div>
                        <form method="dialog" class="modal-backdrop">
                            <button>close</button>
                        </form>
                    </dialog>
                </td>
                <td x-show="project.pipelines.length != 0" x-cloak x-transition>
                    <template x-for="pipeline in project.pipelines" :key="pipeline.pipelineName">
                    <ul>
                        <li x-text="pipeline.pipelineName" class="link cursor-pointer" @click="
                    let url = 'https://' + pipeline.stackId.split(':')[3] + '.console.aws.amazon.com/codesuite/codepipeline/pipelines/' + pipeline.pipelineName + '/view';
                    window. open(url, '_blank')"></li>
                        <li class="link cursor-pointer"
                            @click="let url = 'https://' + pipeline.stackId.split(':')[3] + '.console.aws.amazon.com/dynamodbv2/home?region=' + pipeline.stackId.split(':')[3] + '#edit-item?itemMode=2&pk=QA-Scenario-Execution-Report&route=ROUTE_ITEM_EXPLORER&sk=&table='+ pipeline.pipelineName +'-cache';
                        window. open(url, '_blank');"
                            x-text="pipeline.pipelineName.replace('pipeline','quality-gate-report')"></li>
                    </ul>
                    </template>
                </td>
            </tr>
            <tr>
                <th scope="row">QA gate settings</th>
                <td>
                    <table class="table">
                        <tr>
                            <th scope="row">Purge DB before test</th>
                            <td>
                                <input type="checkbox" :checked="config['functional-scenarios']['att_clean-db'] == 'true'"
                                       @change="config['functional-scenarios']['att_clean-db'] = $el.checked ? 'true' : 'false'"
                                       :disabled="session.editing_disabled"
                                       class="checkbox checkbox-primary" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Purge IAM before test</th>
                            <td>
                                <input type="checkbox" :checked="config['functional-scenarios']['att_clean-iam'] == 'true'"
                                       @change="config['functional-scenarios']['att_clean-iam'] = $el.checked ? 'true' : 'false'"
                                       :disabled="session.editing_disabled"
                                       class="checkbox checkbox-primary" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Minimum event coverage</th>
                            <td>
                                <label class="input input-bordered py-2">
                                    <input x-model="config['functional-scenarios']['att_minimum-event-coverage']"
                                           :disabled="session.editing_disabled"
                                           type="number" class="grow" min="0" max="100" step="1"/>
                                    %
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Minimum view coverage</th>
                            <td>
                                <label class="input input-bordered py-2">
                                    <input x-model="config['functional-scenarios']['att_minimum-view-coverage']"
                                           :disabled="session.editing_disabled"
                                           type="number" class="grow" min="0" max="100" step="1"/>
                                    %
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div x-show="project.deployments.length != 0" x-cloak x-transition>
            <div class="prose mt-5">
                <hr>
                <h2>Deployments</h2>
            </div>

            <template x-for="deployment in project.deployments" :key="deployment.eventBus">
                <div tabindex="0" class="collapse collapse-plus border border-primary mt-2">
                    <input type="checkbox" :checked="sessionStorage[deployment.eventBus] == 'true'"
                           x-model="sessionStorage[deployment.eventBus]"/>
                    <div class="collapse-title font-medium">
                        <span x-text="deployment.eventBus"></span>
                    </div>
                    <div class="collapse-content">
                        <table class="table">
                            <tbody>
                            <template x-for="(value,key) in deployment">
                                <tr>
                                    <th scope="row" x-text="key"></th>
                                    <td x-text="value"></td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </template>
        </div>
        <div x-data="{drn: '',workspace: {}}"
             class="data-element"
             @refresh="workspace = $store.context.get.workspace.filter(x => x.drn == drn).at(0)"
             x-init="drn = localStorage.project_drn.split(':').slice(0,2).join(':');">

            <div class="prose mt-5">
                <hr>
                <h2>Workspace: <span x-text="workspace.name"></span></h2>
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">
                        Projects in workspace
                    </th>
                    <td>
                        <table class="table">
                            <tbody>
                            <template x-for="project in workspace.projects" :key="project.drn">
                                <tr class="cursor-pointer" @click="Project.open(project.drn)">
                                    <th scope="row" x-text="project.name"></th>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <template x-if="workspace.subscriptionType != 'personal'">
                    <tr>
                        <th scope="row">Collaborators in workspace</th>
                        <td>
                            <ui-trace-table></ui-trace-table>

                            <draftsman-mutation command="AuthorizeUserWorkspace"
                                                x-include="/prepared-statements/commands/AuthorizeUserWorkspace.txt"
                                                authenticated>
                            </draftsman-mutation>

                            <draftsman-trace command="AuthorizeUserWorkspace"
                                             component="AssignBusinessRole-Notifier"
                                             status="success"
                                             @trace="Draftsman.empty_track_and_trace_log();Draftsman.force_reload_data();">
                            </draftsman-trace>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">Business role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template x-for="user in workspace.iam" :key="user.username">
                                    <tr>
                                        <th scope="row" x-text="user.user.fullName"></th>
                                        <td>
                                            <select class="select w-full max-w-xs"
                                                    @change.debounce="
                                                    const lastIndex = localStorage.project_drn.lastIndexOf(':');
                                                    const drn = localStorage.project_drn.slice(0, lastIndex);
                                                    $store.mutation.send('AuthorizeUserWorkspace',{
                                                        drn: drn,
                                                        username: user.username,
                                                        businessRole: user.businessRole
                                                    })"
                                                    x-model="user.businessRole">
                                                <option>viewer</option>
                                                <option>developer</option>
                                                <option>administrator</option>
                                                <option>removed</option>
                                            </select>
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td>
                                        <div x-data="{id: makeid(6),users: [],search: '',invites: []}">
                                            <button class="btn btn-ghost"
                                                    @click="document.getElementById(id).showModal();users = await Session.get_users()"><i class="fa-solid fa-plus"></i></button>
                                            <dialog :id="id" class="modal">
                                                <div class="modal-box">
                                                    <h3 class="font-bold text-lg">Invite user to workspace</h3>
                                                    <p class="py-4" x-effect="invites = users.filter(x => !workspace.iam.map(y => y.username).includes(x.username)).filter(x => x.username.toLowerCase().includes(search.toLowerCase()) || x.fullName.toLowerCase().includes(search.toLowerCase()))">

                                                        <input type="text" placeholder="Search..."
                                                               x-model="search"
                                                               class="input input-bordered input-primary w-full" />
                                                        <hr>
                                                        <table class="table"
                                                               x-cloak x-transition
                                                               x-show="invites.length > 0 && invites.length < 6">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">User</th>
                                                                <th scope="col">Assign business role</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <template
                                                                    :key="invite.username"
                                                                    x-for="invite in invites">
                                                                <tr>
                                                                    <td x-text="invite.fullName"></td>
                                                                    <td>
                                                                        <select class="select w-full max-w-xs"
                                                                                @change.debounce="
                                                    const lastIndex = localStorage.project_drn.lastIndexOf(':');
                                                    const drn = localStorage.project_drn.slice(0, lastIndex);
                                                    $store.mutation.send('AuthorizeUserWorkspace',{
                                                        drn: drn,
                                                        username: invite.username,
                                                        businessRole: $el.value
                                                    });document.getElementById(id).close()">
                                                                            <option></option>
                                                                            <option>viewer</option>
                                                                            <option>developer</option>
                                                                            <option>administrator</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                            </tbody>
                                                        </table>
                                                    </p>
                                                </div>
                                                <form method="dialog" class="modal-backdrop">
                                                    <button>close</button>
                                                </form>
                                            </dialog>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>

        </div>

    </div>
</template>