<template x-component="tab-bar">
  <div class="w-[99%] my-1 scrollbar-h">
    <div role="tablist" class="tabs tabs-lifted w-[99%]">
      <template x-for="path in session.tabs" :key="path">
        <a role="tab"
           :class="path == session.tab ? 'tab tab-active' : 'tab'"
           @contextmenu.stop="$event.preventDefault();Navigation.close(path)"
           @click.stop="Navigation.open(path)">
          <div class="tooltip tooltip-right" data-tip="right click to close tab">
            <span x-text="Navigation.get_name(path)"></span>
          </div>
        </a>
      </template>
    </div>
    </div>
  </div>
</template>