<template x-component="build-sidebar">
<div>

    <div class="d-grid gap-2" x-data="{show_modal:false}">
        <div class="btn-group-vertical" role="group" x-data="{url:'',loading:false}" x-init="setInterval(function(){
              url = document.getElementById('buildframe').contentWindow.location.href;
            },1000)" aria-label="Basic outlined example">
            <button type="button"
                    x-show="context.selected_project.pipelines.length == 0" x-cloak x-transition
                    @click="show_modal=true"
                    class="btn btn-outline-primary">Create AWS pipeline</button>

            <button type="button"
                    x-show="url.includes('/test-log/#')" x-cloak x-transition
                    :disabled="loading"
                    @click="loading=true;
                    await FileSystem.sync_model();
                    document.getElementById('buildframe').contentWindow.location.reload();
                    loading=false;"
                    class="btn btn-outline-primary">Reload logs</button>
        </div>
        <template x-if="show_modal">
            <div>
                <div class="overlay"></div>
                <div class="prompt" x-data="{search: ''}">
                    <h4>
                        Create pipeline in region
                        <button type="button" @click="show_modal=false" class="btn-close float-end"></button>
                    </h4>

                    <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        <input type="text" class="form-control"
                               placeholder="search..." x-model="search"/>
                    </div>

                    <div class="list-group list-group-flush" style="overflow-y:auto;height:60vh">
                        <template x-for="region in regions"
                                  :key="region.full_name">
                            <button type="button"
                                    @click="show_modal = false;create_pipeline(region);"
                                    x-text="region.name + ' (' + region.code + ')'"
                                    x-cloak x-transition
                                    x-show="search == '' || JSON.stringify(region).toLowerCase().includes(search.toLowerCase())"
                                    class="list-group-item list-group-item-action"></button>
                        </template>
                    </div>

                </div>
            </div>
        </template>
    </div>
    <hr>
    <ul class="list-group list-group-flush">
        <template x-for="build in await Builds.fetch_builds()" :key="build.lastEvent">
            <li class="list-group-item list-group-item-action" @click.debounce="Builds.open_build(build.drn)">
                <span x-text="moment(Number(build.lastEvent)*1000).format('YYYY-MM-DD h:mm:ss')"></span>
                [<span x-text="build.status"></span>]
            </li>
        </template>
    </ul>
  </div>
</template>