<template x-component="notifier-sidebar">
    <template x-if="tab_state.notifier" key="flow-sidebar">
        <div>

            <div class="d-grid gap-2">
                <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                    <button type="button"
                            @click="tab_state.mode = 'trigger'"
                            :class="tab_state.mode == 'trigger' ? 'btn btn-primary' : 'btn btn-outline-primary'">Triggers</button>
                    <button type="button"
                            @click="tab_state.mode = 'flow'"
                            :class="tab_state.mode == 'flow' ? 'btn btn-primary' : 'btn btn-outline-primary'">Activity flow</button>
                </div>
            </div>

            <hr>

            <div x-import="utils/documentation-element">
                <ui-documentation-element></ui-documentation-element>
            </div>

            <hr>
            <div class="d-grid gap-2" x-import="utils/prompt">

                <div class="btn-group-vertical">
                    <button class="btn btn-outline-danger btn-block"
                            @click.stop="$dispatch('show-modal',{id: 'rename-notifier'})">Rename</button>

                    <button class="btn btn-outline-danger btn-block"
                            @click.stop="Notifiers.remove">Delete</button>
                </div>

                <ui-prompt id="rename-notifier"
                           title="Rename notifier"
                           @prompt-filled.debounce="Notifiers.rename($event.detail.value);"></ui-prompt>
            </div>
        </div>
    </template>
</template>
