<template x-component="project-readme-sidebar">
  <div>
      <div class="alert alert-primary" role="alert">
        Project contains <strong><span x-text="tab_state.summary.commands"></span>&nbsp;
        command<span x-show="tab_state.summary.commands > 1">s</span></strong>
        and <strong><span x-text="tab_state.summary.aggregates"></span>&nbsp;aggregate<span x-show="tab_state.summary.aggregates > 1">s</span></strong>
        divided over
        <strong><span x-text="tab_state.summary.subdomains"></span>&nbsp;subdomain<span
                x-show="tab_state.summary.subdomains > 1">s</span>.</strong>
        These aggregate<span x-show="tab_state.summary.aggregates > 1">s</span> will emit <strong><span
              x-text="tab_state.summary.domainEvents"></span>&nbsp;domain&nbsp;event<span
              x-show="tab_state.summary.domainEvents > 1">s</span>.</strong>
        And is integrated to the outside world with <strong><span x-text="tab_state.summary.notifiers"></span>&nbsp;notifier<span
              x-show="tab_state.summary.notifiers > 1">s</span>.</strong>
        Data is accesable via <strong><span x-text="tab_state.summary.views"></span>&nbsp;view<span
              x-show="tab_state.summary.views > 1">s</span>.</strong>
      </div>

  </div>
</template>