<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="project-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetProject($key: ID = "") {
       Project {
         get(key: $key) {
           key
           drn
           name
           summary
           documentation
           workspaceDrn
           gitWorkspace
           gitRepository
           gitStatus
           guiGit
           pipelines {
             name
             stack
           } 
           deployments {
             apiEndpoint
             apiId
             apiKey
             userPoolId
             domainName
             propertyVault
             eventBus
             stackId
           } 
           objects {
             drn
             name
             type
             isDeleted
           } 
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>