<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="aggregate-behavior-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetBehavior($key: ID = "") {
       Aggregate {
         Behavior {
           get(key: $key) {
             key
             drn
             projectDrn
             aggregateDrn
             name
             summary
             documentation
             createCommand
             triggers {
               event
               keyField
               mapping {
                 eventFieldName
                 flowVariableName
               } 
             } 
             processors {
               type
               order
               condition
               exceptionMessage
               scriptDrn
               handler
               eventName
               mappings {
                 source
                 target
               } 
               dmnDrn
               inputs {
                 name
                 mapping
               } 
               outputs {
                 name
                 target
               } 
               expression
               name
               source
               target
             } 
             flowVars {
               name
               type
             } 
             testcases {
               name
               triggerEvent
               status
               report
               userName
               expectError
               inputs {
                 name
                 value
                 type
               } 
               state
               expectedFields {
                 eventName
                 name
                 value
                 type
               } 
               expectedState
             } 
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>