<template x-component="aggregates-navigation">
  <div class="sidebar-navigation-group"
       x-data="{subdomain: ''}"
       x-effect="subdomain = $prop('subdomain')"
       :class="{'navigation-highlight': session.navigation[subdomain]}"
       x-import="ide/navigation/utils">

    <ui-section-title :id="subdomain" :title="subdomain"></ui-section-title>

    <div x-show="session.navigation[subdomain]" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column" x-import="ide/navigation/aggregate">

          <ui-nav-item title="About this subdomain"
                       :file="'domain/' + subdomain + '/README.md'"></ui-nav-item>

          <template x-for="aggregate in session.aggregates[subdomain]">
            <ui-aggregate-navigation></ui-aggregate-navigation>
          </template>

          <li class="nav-item" x-import="utils/prompt">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Aggregates.create_new(subdomain)"
               href="#">
              <i class='fa-solid fa-plus'></i> New aggregate
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>