<template x-component="code-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.code}"
       x-import="ide/navigation/utils">

    <ui-section-title id="code" title="Python Modules"></ui-section-title>

    <div x-show="session.navigation.code" x-collapse x-transition x-cloak>
      <div x-data="{modules: []}"
           x-effect="let updated = Code.list_modules();await sleep(1);if(modules!=updated){modules=updated}">
        <ul class="nav flex-column">
          <template x-for="module in modules" :key="module">

            <ui-nav-item :title="module"
                         :file="'lib/' + module + '.py'"></ui-nav-item>

          </template>

          <li class="nav-item" x-show="!session.editing_disabled" x-cloak x-transition>
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Code.create_new"
               href="#">
              <i class='fa-solid fa-plus'></i> New module
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>