<template x-component="command-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.commands}"
       x-import="ide/navigation/utils">

    <ui-section-title id="commands" title="Commands"></ui-section-title>

    <div x-show="session.navigation.commands" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column">
          <template x-for="command in session.command_names">
            <ui-nav-item :title="command"
                         :file="'commands/' + command + 'Requested.xml'"></ui-nav-item>
          </template>

          <li x-show="!session.editing_disabled" x-cloak x-transition class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Commands.create_new()"
               href="#">
              <i class='fa-solid fa-plus'></i> New command
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>