<template x-component="global-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.globals}"
       x-import="ide/navigation/utils;ide/navigation/code">

    <ui-section-title id="globals" title="Globals"></ui-section-title>

    <div x-show="session.navigation.globals" x-collapse x-transition x-cloak>
      <ul class="nav flex-column">
        <ui-code-navigation></ui-code-navigation>
        <li class="nav-item">
          <ui-nav-item title="Patterns"
                       file="patterns/"></ui-nav-item>
          <ui-nav-item title="Expressions"
                       file="expressions/"></ui-nav-item>
          <ui-nav-item title="Roles"
                       file="roles/"></ui-nav-item>
          <ui-nav-item title="Dependencies"
                       file="dependencies/"></ui-nav-item>
        </li>
      </ul>
    </div>
  </div>
</template>