<template x-component="notifier-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.notifiers}"
       x-import="ide/navigation/utils">

    <ui-section-title id="notifiers" title="Notifiers"></ui-section-title>

    <div x-show="session.navigation.notifiers" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column" x-data="{notifiers: []}"
            x-effect="let updated = session.notifier_names;await sleep(1);if(notifiers!=updated){notifiers=updated}">
          <template x-for="notifier in notifiers" :key="notifier">
            <ui-nav-item :title="notifier"
                         :file="'notifiers/' + notifier + '.xml'"></ui-nav-item>
          </template>

          <li x-show="!session.editing_disabled" x-cloak x-transition class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Notifiers.create_new"
               href="#">
              <i class='fa-solid fa-plus'></i> New notifier
            </a>
          </li>
        </ul>
      </div>

  </div>
</template>