<template x-component="projection-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.projection}"
       x-import="ide/navigation/utils">

    <ui-section-title id="projection" title="Projections"></ui-section-title>

    <div x-show="session.navigation.projection" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column" x-data="{projections: []}"
            x-effect="let updated = session.projection_names;await sleep(1);if(projections!=updated){projections=updated}">
          <template x-for="projection in projections" :key="projection">
            <ui-nav-item :title="projection"
                         :file="'projections/' + projection + '.xml'"></ui-nav-item>
          </template>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Projections.create_new"
               href="#">
              <i class='fa-solid fa-plus'></i> New projection
            </a>
          </li>
        </ul>
      </div>

  </div>
</template>