<template x-component="subdomain-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.subdomains}"
       x-import="ide/navigation/utils;ide/navigation/aggregates">

    <ui-section-title id="subdomains" title="Subdomains"></ui-section-title>

    <div x-show="session.navigation.subdomains" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column" x-import="ide/navigation/aggregates">
          <template x-for="subdomain in session.subdomain_names">
            <ui-aggregates-navigation :subdomain="subdomain"></ui-aggregates-navigation>
          </template>

          <li x-show="!session.editing_disabled" x-cloak x-transition class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Subdomains.create_new()"
               href="#">
              <i class='fa-solid fa-plus'></i> New subdomain
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>