<template x-component="view-navigation">
  <div class="sidebar-navigation-group"
       :class="{'navigation-highlight': session.navigation.views}"
       x-import="ide/navigation/utils">

    <ui-section-title id="views" title="Views"></ui-section-title>

    <div x-show="session.navigation.views" x-collapse x-transition x-cloak>
      <div>
        <ul class="nav flex-column" x-data="{views: []}" x-effect="let updated = session.view_names;await sleep(1);if(views!=updated){views=updated}">
          <template x-for="view in views" :key="view">
            <ui-nav-item :title="view"
                         :file="'views/' + view + '.xml'"></ui-nav-item>
          </template>

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active"
               @click.debounce.self="Views.create_new"
               href="#">
              <i class='fa-solid fa-plus'></i> New view
            </a>
          </li>
        </ul>
      </div>

  </div>
</template>