<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="add-nested-relation">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation AddNestedCollection($drn: String = "", $fieldName: String = "", $referencedView: String = "") {
       View{
         Relations{
           addNestedCollection(input: {drn: $drn,fieldName: $fieldName,referencedView: $referencedView}) {
              correlationId
           }
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "drn",
    "title": "Drn",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:view:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "fieldName",
    "title": "Fieldname",
    "type": "String",
    "pattern": "[a-z]+([A-Z]{1}[a-z]+)*",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "referencedView",
    "title": "Referencedview",
    "type": "String",
    "pattern": "^D[0-9]+:[a-z]+:([A-Z]{1}[a-z]+)+:view:([A-Z]{1}[a-z]+)+$",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>