<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="global-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetGlobalComponent($key: ID = "") {
       Global {
         get(key: $key) {
           key
           drn
           name
           projectDrn
           componentType
           source
           attributes {
             key
             value
           } 
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>